[2014-03-05 16:28] pgleeson opened #2 "Rename PyOpenWorm folder to openworm"
For a more pythonic:

    import openworm
    net = openworm.Network()

[2014-05-07 20:34] slarson opened #3 "implement Neuron.get_neighbors"
Ideal spec:

[code]

Stub is here: https://github.com/openworm/PyOpenWorm/blob/master/PyOpenWorm/neuron.py#L376

[2014-05-07 20:38] slarson opened #4 "implement Neuron.get_connections"
Spec is:

[code]

Stub is here: https://github.com/openworm/PyOpenWorm/blob/master/PyOpenWorm/neuron.py#L386

[2014-05-07 20:42] slarson opened #5 "implement Neuron.add_reference"
Spec is:

[code]

stub is here: https://github.com/openworm/PyOpenWorm/blob/master/PyOpenWorm/neuron.py#L289

[2014-05-13 13:11] slarson opened #6 "Add biological entities to owmeta to support parameter changes for aging"
- [ ] ventral nerve cord
- [ ] motor neurons
- [ ] muscles cells
  - [ ] muscle receptors (for amplitude of PSCs)
    - [ ] excitatory nicotinic acetylcholine receptors (nAChRs)
    - [ ] inhibitory GABA receptors
- [ ] neuromuscular junctions (NMJs) in the ventral nerve cord
- [ ] Pre-synaptic motor neurons
- [ ] neurotransmitters
- [ ] muscle receptor channels
- [ ] post-synaptic currents (PSCs)

[2014-05-13 13:13] slarson opened #7 "Add cell lineage info to PyOpenWorm"
Cell lineage refers to the tree of cell divisions that occurs when an organism is growing from an embryo.  We'd like to have a data structure that captures this for c. elegans.  The data are out there -- now we'd like to put them into [PyOpenWorm](https://github.com/openworm/PyOpenWorm).

This is the first step in a greater project to be able to render lineage trees as "differentiation trees" for

[2014-06-06 14:41] StevePMcGrew opened #8 "ALFRED: an evolutionary approach to modeling embryo development"
A possible approach to modeling development of the C. elegans embryo

Background:
I propose to model embryological development in C. elegans by beginning with a simpler problem - plant development - to create first an algorithmic structure homologous to the genetic program that drives plant development, and then generalize the algorithmic structure to enable it to cover the more complicated develo

[2014-06-18 16:28] slarson opened #9 "Create a dev release"
Let's get this out so we can do a pip install

[2014-06-18 16:28] slarson opened #10 "Have a single place in docs that describes the list of data sources"

[2014-06-19 02:47] mwatts15 opened #12 "Add a separate 'update' database for testing"

[2014-06-21 18:56] slarson opened #14 "Update readme.md and intro.rst for alpha0.5 branch"
Draw examples out of the test cases you have built.  Always good to update docs in sync with the update to the code!

[2014-06-21 20:06] slarson opened #17 "Change backend to pull from flat file in local memory rather than REST interface"
Just to codify what we talked about with regards to the [data process](http://pyopenworm.readthedocs.org/en/alpha0.5/process.html#access-control), let's keep the whole database as a flat file under the db/ directory, pull it in each time the library loads, and write it back out each time there is an update / edit to the database.

I noticed [out.n4](https://github.com/openworm/PyOpenWorm/blob/alph

[2014-06-21 20:14] slarson opened #18 "Flesh out additional tests to cover full new API revisions."
Progress with [test.py](https://github.com/openworm/PyOpenWorm/blob/alpha0.5/tests/test.py) has been great.  Keep going to create tests to cover the rest of the new [API](http://pyopenworm.readthedocs.org/en/alpha0.5/api.html) in keeping with best [test-driven development](http://en.wikipedia.org/wiki/Test-driven_development) practice.

[2014-06-29 22:18] mwatts15 opened #20 "Force users to manually open the database in their own scripts"
Some graph stores, Sleepycat in particular, require being opened before use and closed after. There's no reliable way that I know to register a clean-up function in Python without knowing the particular program that's running. Consequently, responsibility for closing the store must be pushed up to the user and opening the store should as well to remind the user to close it.

[2014-07-14 03:12] #3 closed, assigned to mwatts15

[2014-07-14 03:13] #12 closed, assigned to nobody

[2014-07-14 03:17] #20 closed, assigned to nobody

[2014-07-14 23:02] mwatts15 opened #21 "Improve the Cell morphology"
The morphology query runs very slowly. This is probably a result of the OPTIONALs in the query.

[2014-07-18 00:58] mwatts15 opened #22 "setup.py install error"
Calling `setup.py install --user` in the main directory results in this:

[code]

[2014-07-20 18:50] #5 closed, assigned to mwatts15

[2014-07-21 22:00] mwatts15 opened #24 "Add a database setup script"
A script must be created to install the worm database in an appropriate location upon install of PyOpenWorm. Also, see: #17
Requirements:
- The script must not be run by services such as Travis-CI or ReadTheDocs
- The script should be run automatically during setup for a regular user
- The database installed must correspond to the contents of the database serialization included in the distributed

[2014-07-24 17:13] #4 closed, assigned to mwatts15

[2014-07-24 17:14] #17 closed, assigned to mwatts15

[2014-07-30 00:47] slarson opened #25 "Update the DB with new circuit information"
This full circuit is not entirely represented in the library right now:

What the circuit should be:

![screen shot 2014-07-20 at 11 03 46 pm](https://cloud.githubusercontent.com/assets/1037756/3743921/ace9a1c0-1782-11e4-98ba-33038dab8f21.png)

What the circuit currently is in PyOpenWorm:

[code]

We should use this as a test case of updating the DB using the alpha0.5 methods and adding a referenc

[2014-07-30 01:17] mwatts15 opened #26 "Add RDFS and OWL reasoning to RDF graph"
Some of the queries we perform in PyOpenWorm could be simplified by including a reasoner like [FuXi](https://github.com/RDFLib/FuXi). For instance, we currently insert an `rdf:type` triple for each super-class of a DataObject's type in order to utilize classes in our queries.

It would be preferable to augment the RDF graph with RDFS reasoning to infer that, for instance, a Neuron is a Cell, witho

[2014-07-30 02:53] #18 closed, assigned to mwatts15

[2014-07-30 03:10] slarson opened #27 "Implement full Alpha 0.5 API"
Losing track of what is implemented in the alpha0.5 branch and what is not.  @mwatts15 could you check boxes here to communicate where we are at?

API list taken [from here](http://pyopenworm.readthedocs.org/en/alpha0.5/api.html)

 - [x] Worm()
 - [x] Worm.neuron_network()
 - [x] Worm.cells()
 - [x] Evidence(key`=`value)
 - [x] Evidence.asserts(relationship : Relationship)
 - [x] Evidence.asserts(

[2014-08-06 05:58] mwatts15 opened #28 "Add cell division volume data"
Part of #27

- [ ] Collect division volume data (see the [devoworm](https://github.com/balicea/DevoWorm) repo for possible data sources and contact @balicea for guidance in interpreting them)
- [ ] Clean up collected data (extract, normalize, etc.)
- [ ] Add a DataTranslator / DataSource in PyOpenWorm.data_trans which includes the data.

[2014-08-06 05:59] mwatts15 opened #29 "Add neuron cell receptor data"
Part of #27

[2014-08-07 19:59] mwatts15 opened #30 "Make better use EAV structure"
RDF gives us the ability to leave many values NULL for each object in the database. Currently we don't make good use of this facility, inputting a sort of NULL (called graph variables in the source code). Correcting this should be done in concert with improving the query functionality.

Acheiving this would drastically reduce the update time from the reduction in triples inserted.

[2014-08-07 20:06] mwatts15 opened #31 "Improve update performance"
Currently, uploads are performed in small blocks due to limitations of the stack size during RDFLib's parse. This requires us to parse and compile the update statement for each block. This can be avoided by calling `rdflib.graph.Graph.add()` directly for each statement and adding a switch for remote stores (e.g., SPARQLUpdateStore), for which the cost of one `add()` is very expensive, to do SPARQL

[2014-08-07 21:23] #31 closed, assigned to nobody

[2014-08-07 22:51] mwatts15 opened #32 "Improve update performance, 2"
The current method of doing updates calls `save()` on a top-level object which calls `triples()` recursively on properties and `ObjectProperty` values. Since objects can appear in multiple places in the tree of calls to `triples()`, we should prevent them from releasing their triples within a single `save()`.

The solution should not use a global variable to indicate saved/unsaved status.

[2014-08-07 23:58] #32 closed, assigned to nobody

[2014-08-08 18:32] slarson opened #33 "Implement muscle.innervatedBy() in alpha0.5"
There's interest from @wilzh40 to see this accomplished for another part of the project.  @mwatts15 do you have everything you need to do this?

[2014-08-13 22:37] slarson opened #35 "Simplify installation for alpha0.5"
[As reported on the openworm-discuss list](https://groups.google.com/d/topic/openworm-discuss/2ZmlYsYopao/discussion) folks are running into roadblocks installing this library due to a dependency on the BerkeleyDB being installed on their system and version mismatches.  This is too high a bar for most users to have to worry about; they won't use this and they'll go elsewhere.  We need to simplify

[2014-08-13 22:47] slarson opened #36 "Running setup.py install doesn't install requirements in Alpha0.5"
For some reason running setup.py install, the requirements.txt packages are not actually installed.  Tried this on a fresh virtualenv and it complained that networkx wasn't installed, even though it is in the requirements.txt file.  Running `pip install -r requirements.txt` works, and have added this to the INSTALL.md instructions but this should be improved to happen in one step.

[2014-08-17 01:01] slarson opened #37 "Enable python setup.py install to work"
Currently Travis CI testing under the zodb-install and the zodb branches works but only with running `python setup.py develop`.  Let's get `python setup.py install` to work as well.

Current error during `python setup.py install` in the zodb-install branch:

[code]

[2014-08-17 18:30] #35 closed, assigned to mwatts15

[2014-08-19 16:47] #37 closed, assigned to mwatts15

[2014-08-20 04:00] mwatts15 opened #40 "Omit identifiers for un-referenced properties"
Properties have the useful feature that they can be referenced uniquely. However, the mechanism by which this is done results in an excess of triples which could otherwise be omitted.
## Requirements
- Must preserve a means of retrieving all properties of a given type.
- Should only store a single triple for a property with a set value unless some other object references it.

[2014-08-20 22:01] mwatts15 opened #41 "Docs failing to build"

[2014-08-20 23:01] #41 closed, assigned to nobody

[2014-08-21 05:12] slarson opened #42 "Loading neurons with Neuron().load() is very slow"
Tests are incredibly slow:

[code]

Simple functions are incredibly slow (each takes more than 90 seconds to complete)

[code]

These are very fast in master

Asserts() is incredibly slow (more than 10 minutes to complete final command & then I got tired of waiting):

[code]

[2014-08-21 05:12] slarson opened #43 "Do default config as part of .connect() in alpha0.5"
The database load steps are:

[code]

Can the second step be incorporated under connect()?  The second step doesn't seem to helpful to expose to the end user as they are not going to know enough to change it.

[2014-08-21 05:13] slarson opened #44 "alpha0.5 producing incorrect output compared to README.md"
With a system where tests are passing, we are not getting sensible output from the examples.

This is most concerning and the highest priority issue to fix right now.

type() not working:

[code]

wrong receptors coming out:
FROM README:
[code]
ACTUAL:
[code]

Readme says this will be True
[code]

No receptors coming out even though we say there are:

FROM README:
[code]
ACTUAL:
[code]

[2014-08-21 05:26] #24 closed, assigned to nobody

[2014-08-21 05:27] #14 closed, assigned to mwatts15

[2014-08-21 14:44] mwatts15 opened #45 "Integrate doctest with unit tests"
Doctest may be helpful in keeping the examples in documentation up-to-date with the source code.

Doctest should execute as part of the normal unit testing.

[2014-08-21 18:40] mwatts15 opened #46 ""_p_serial must be an 8-character bytes array" error with ZODB store"

[2014-08-22 00:59] mwatts15 opened #47 "CRITICAL:ZODB.FileStorage:/.../worm.fs Database records 35284834279 seconds in the future"
This message prints when a ZODB store is reopened. Doesn't seem to affect data integrity.

[2014-08-23 06:46] jrlandau opened #49 "Failure to import PyOpenWorm in the alpha0.5 branch"
In a fresh clone of the alpha 0.5 branch, the import of PyOpenWorm failed, as below:

[2014-08-23 15:43] #46 closed, assigned to nobody

[2014-08-25 23:32] mwatts15 opened #50 "Managed object-saving"
Currently, the user must keep track of the graph of objects in order to save them. It would be preferable to track creation and linking of objects automatically.
The beginnings of the accounting system are included in `dataObject.py` as `addToOpenSet` and `removeFromOpeSet` methods.

Below, "object" refers to a data object as defined in `dataObject.py`.

The proposed algorithm has a notion of a "c

[2014-08-25 23:36] #43 closed, assigned to mwatts15

[2014-08-25 23:57] #36 closed, assigned to nobody

[2014-08-26 00:07] #33 closed, assigned to nobody

[2014-08-26 00:14] #22 closed, assigned to nobody

[2014-08-26 12:41] slarson opened #52 "alpha0.5: remove need to wrap everything in list() or set()"
Via the use of generators, we are forcing the end user of the api to use list() and set() methods to get basic info out like type() and name().  For example, from the current version of the readme:

[code]

This is not in keeping with the goals of simplicity of this package.  If we need to expose the generators directly, let's make additional parallel methods for this, but let's keep the basic get

[2014-08-26 13:17] slarson opened #53 "alpha0.5: sensory() and interneurons() have wrong output"
This is in the network.py object

[code]

[2014-08-26 13:59] slarson opened #54 "alpha0.5: re-integrate the data repo"
Versioning the data outside of the library is the opposite of what we want to achieve here.  We want the data version tightly coupled to the library as a feature because then users know what data they have in a given version of the library.  Decoupling it will create confusions and mismatches between which data version versus which library version, and is also likely to make queries fail.  This is

[2014-08-26 23:27] #49 closed, assigned to nobody

[2014-08-29 00:51] jrlandau opened #55 "installing requirements.txt has errors"
Here's the way it terminates--the text below is displayed in red:
[code]
Other errors occur before the process terminates.  Should they be ignored?

[2014-09-19 12:18] mwatts15 opened #58 "Add timeouts for metadata lookups in Evidence"

[2014-09-19 13:34] #58 closed, assigned to nobody

[2014-09-21 01:20] slarson opened #61 "Make examples directory human readable"
- [ ] Remove unnecessary files
- [ ] README should explain each example
- [ ] Examples should have human readable comments including a summary at the top and comments throughout that explain what is going on.

[2014-09-21 02:28] #54 closed, assigned to mwatts15

[2014-09-21 03:20] slarson opened #62 "Create data integrity tests that ensure db is sane"
There is a [start here](https://github.com/openworm/PyOpenWorm/blob/alpha0.5-slarson/tests/test.py#L44)

#44 is the result of not having this.

Initial tests should include:

- [x] Is there only 1 node in the db per neuron or is their more than one?  Currently AVAL has 2 for example
- [x] Does every neuron have a type that returns a name?
- [ ] Does every fact have evidence associated with it?

[2014-09-21 19:24] slarson opened #63 "Fix import script to ensure single RDF nodes per neuron"
The [import script](https://github.com/openworm/PyOpenWorm/blob/alpha0.5-slarson/OpenWormData/scripts/insert_worm.py) currently is creating different RDF nodes for information about the same neurons.  This makes the graph hard to query due to redundant information because there is not a 1:1 relationship between a neuron and an RDF node that connects to all information about it.  This is likely to

[2014-10-22 16:26] slarson opened #65 "Add summary data of system-level C. elegans to openworm/owmeta-data bundle"
Incorporate the facts from [this spreadsheet](https://docs.google.com/spreadsheets/d/1Dc0FlreJ06cpZo_rFLTnsp4iYPUzPa0a85uMwCGjxoY/edit#gid=0) into the openworm/owmeta-data bundle.

Requirements:
- Must include references listed in the document as appropriate Document/Evidence
- Must use DataSource / DataTranslator for translating from the spreadsheet
- May use the spreadsheet directly from Google

[2014-11-07 16:08] clbarnes opened #66 "Port PyOpenWorm to python3"
## Advantages:
- Other parts of the project, such as movement_validation, are built in python3 - consistency is good.
- It seems unlikely that python3 will be abandoned as a failed experiment at this point - given we want the usership of PyOpenWorm to increase over time, it seems better to write forward-compatible than backward-compatible code.
- By importing from **future**, some python3-style co

[2014-12-26 17:40] slarson opened #68 "Modify insert_worm.py to fix multiple RDF nodes per neuron"
[This test](https://github.com/openworm/PyOpenWorm/blob/alpha0.5-slarson/tests/test.py#L68) is failing, because the structure of the data is inconsistent.

The data is structured by [insert_worm.py](https://github.com/openworm/PyOpenWorm/blob/alpha0.5-slarson/OpenWormData/scripts/insert_worm.py).   Somehow, when this is run, there are two RDF nodes per neuron instead of one.

This issues is to und

[2014-12-26 22:12] slarson opened #69 "Modify insert_worm.py to fix multiple RDF nodes per neuron"
[This test](https://github.com/openworm/PyOpenWorm/blob/alpha0.5-slarson/tests/test.py#L68) is failing, because the structure of the data is inconsistent.

The data is structured by [insert_worm.py](https://github.com/openworm/PyOpenWorm/blob/alpha0.5-slarson/OpenWormData/scripts/insert_worm.py).   Somehow, when this is run, there are two RDF nodes per neuron instead of one.

This issues is to und

[2014-12-27 00:26] travs opened #70 "Neuron objects with no type attributes"
When using the API no type() is returned for most Neurons().

It is not clear whether this is on the db or API end.

This issue is already mentioned in #62 but I am raising it here to further channel our discussions.

[2014-12-27 20:16] #69 closed, assigned to nobody

[2015-01-02 21:34] slarson commented on #61
Closed based on #71

[2015-01-02 21:34] #61 closed

[2015-01-02 21:38] slarson commented on #70
@travs great observations.  Curious why PHAL is the only one with a type....?

[2015-01-03 14:12] shekhov commented on #70
This is something we can put into the test actually:
Try this:

    import rdflib
    import pprint
    g = rdflib.Graph ("ZODB")
    g.parse ("OpenWorm/WormData.n3")
    ntype_query = "SELECT ?type ?value WHERE {?type a <http://openworm.org/entities/Neuron_type>. \
    '?type <http://openworm.org/entities/SimpleProperty/value> ?value}"
    ntype_r = g.query (ntype_query).result
    len (ntype_r)

[2015-01-03 18:19] travs opened #75 "Facts need associated evidence() in the db"
Just further channeling our discussions with this issue (originally mentioned in #62).

I am taking _facts_ here to mean `DataObject` objects that are not `Evidence` objects.

When we say "facts must have associated evidence" we are saying that every `DataObject` must have an associated `Evidence` node, unless the `DataObject` is an `Evidence` object itself.

Does this sound reasonable?

blocked b

[2015-01-06 00:17] slarson commented on #75
@travs Hmm -- here's the thing.  A fact is actually inclusive of a data object and a relationship to another data object.  So a fact is not simply "AVAL" the data object, the fact is that "AVAL" has some relationship to "AVAR", like a gap junction connection, for example.  In RDF, this should mean that every triple has evidence for it.

The way @mwatts15 has wrapped the graphs has left me a bit un

[2015-01-08 03:52] mwatts15 commented on #75
For the method I use to attach evidence, there are certain resources in the graph which correspond to, really, arbitrary `DataObjects`. I was fairly uncertain in the design of this as far as going in the "reverse" direction from an object to get evidence. So you you can list all of the `Evidence` objects, look at what they have on the other ends of their `asserts` property, and a motivated human c

[2015-01-11 06:17] travs opened #77 "Running insert_worm.py fails"
This is my full stack trace when I run the script on both the `alpha0.5` and `alpha0.5-slarson` branches.
The error occurs in the step `update_neurons_and_muscles_with_lineage_and_descriptions()`.

[code]

[2015-01-11 15:46] mwatts15 commented on #77
Hi @travs. Could you have a look at #76? In that pull request, `update_neurons_and_muscles_with_lineage_and_descriptions` is no longer called since the relevant activity takes place in `upload_lineage_and_descriptions`

[2015-01-11 21:57] slarson commented on #77
Looks like this is fixed by #76 !

[2015-01-11 21:57] #77 closed

[2015-01-11 21:58] slarson commented on #68
Test passing as of #76 !  Great!!

[2015-01-11 21:58] #68 closed

[2015-01-11 22:04] slarson commented on #63
Seems to be fixed by #76 !

[2015-01-11 22:04] #63 closed

[2015-01-11 22:04] slarson commented on #52
Pretty sure we should have closed this when we merged #59

[2015-01-11 22:04] #52 closed

[2015-01-11 22:46] slarson opened #79 "Add test to test.py that runs insert_worm.py and serialize_it.py and runs data tests on output"
We might consider adding a test that runs insert_worm.py and serialize_it.py so that it is running tests on whatever insert_worm generates, plus it verifies that insert_worm.py is working.

[2015-01-11 23:07] slarson commented on #70
I'd expect that the data is going in wrong in the first place from the database in [insert_worm.py](https://github.com/openworm/PyOpenWorm/blob/alpha0.5-slarson/OpenWormData/scripts/insert_worm.py#L168).  Looks like we need to work up tests that pull from the SQL Lite database and compare to what ends up in PyOpenWorm.  There may be some confusions on how to resolve the structure of the SQLite dat

[2015-01-11 23:10] slarson opened #80 "Receptors associated with cells are not the ones expected"
As seen in #44

I'd expect that the data is going in wrong in the first place from the database in [insert_worm.py](https://github.com/openworm/PyOpenWorm/blob/alpha0.5-slarson/OpenWormData/scripts/insert_worm.py#L168).  Looks like we need to work up tests that pull from the SQL Lite database and compare to what ends up in PyOpenWorm.  There may be some confusions on how to resolve the structure o

[2015-01-12 01:52] mwatts15 commented on #80
The Relation code for neuropetide (354) was mistaken for the receptor code (361) in [insert_worm.py](https://github.com/openworm/PyOpenWorm/blob/alpha0.5-slarson/OpenWormData/scripts/insert_worm.py#L186).

[2015-01-12 19:48] slarson commented on #80
@mwatts15 thanks for that -- fixed in #81

[2015-01-12 19:48] #80 closed

[2015-01-17 20:21] travs commented on #75
So I just did a couple queries and it looks like all of the Evidence in the db goes to support a small number of `DataObjects`, which themselves map to thousands of `Cells`, `Neurons`, etc.

[code]

Everything that is returned has the *same URI*.

If you now do a query for that URI, you find a single node of course. In my case:

[code]
This means that all `Evidence` objects point back to the overa

[2015-01-17 20:36] travs opened #83 "Clean up tests dir?"
Would it be safe to remove some of the testscripts and `.conf` files we're not using in `tests/` before pushing to master?

Are we actually using any of them besides `test.py`?

[2015-01-18 04:27] mwatts15 commented on #83
As far as what uses what:

Travis-CI uses `runtests.sh` which runs the tests with each of the configurations given in `tests/test_*.conf`. Knowing that the tests complete successfully under multiple configurations is valuable.

`test_data.py` has data for a couple of tests [here](https://github.com/openworm/PyOpenWorm/blob/alpha0.5-slarson/tests/test.py#L1043) and [here](https://github.com/openwor

[2015-01-18 19:03] slarson commented on #83
I agree!

[2015-01-20 17:52] mwatts15 commented on #29
Completed with https://github.com/openworm/PyOpenWorm/commit/9d787d2f540f7046725ef7bfee8d6e6ab0bc1206#diff-75a0e7cc2be9782a7273cb62f93109bbR190

[2015-01-20 17:52] #29 closed

[2015-01-20 21:23] mwatts15 opened #86 "Correct the format of source code documentation"
API documentation presented [on readthedocs.org](http://pyopenworm.readthedocs.org/en/alpha0.5/) is rendering incorrectly in some cases, showing the field names like `:returns:` and `:param xxx:` rather than printing the table of parameters for a method.

[2015-01-21 03:07] slarson opened #87 "Change source of upload_synapses() in insert_worm.py from DB to NeuronConnect.xls"
[insert_worm.py](https://github.com/openworm/PyOpenWorm/blob/alpha0.5/OpenWormData/scripts/insert_worm.py#L204) imports external content into PyOpenWorm.  upload_synapses() reads from the SQLlite DB.  We have come to doubt the origins of the original synapse information that went into this DB, after performing comparisons with the connectivity spreadsheet [online at WormAtlas](http://www.wormatlas

[2015-01-21 03:08] slarson opened #88 "Create data integrity test checking the synapse information"
Online at WormAtlas is the [NeuronConnect.xls spreadsheet](http://www.wormatlas.org/neuronalwiring.html#Connectivitydata) (sec 2.1).  Let's create a unit test that compares the connectivity within PyOpenWorm to what is in that spreadsheet.  We are modifying the import function to draw directly from this spreadsheet; so it should match.  Nonetheless, this will guarantee there have been no modeling

[2015-01-25 02:39] travs opened #90 "Getting cell connections is slow"
This has been brought up before in #42, but there may be something we can do about it this time.

While doing #89 I have found that doing (for some neuron `adal`) `adal.connection.get()` is super slow. There would be no feasible way to check **all** the connections in a test (#88), so I will use a unit test for the time being, and that may be good enough anyway.

The speed is inhibitory when tryin

[2015-01-25 20:01] mwatts15 commented on #90
The implementation of the `get` and `count` methods are different. The slowness for the `get` is a product of the redundancies in segments of the RDF graph, related to object identifier generation, which I have alluded to in the [Gitter chat](https://gitter.im/openworm/PyOpenWorm). I'll make a write-up on the causes of this issue.

[2015-01-25 20:01] slarson commented on #42
Reopening since @travs reported it again on #90

[2015-01-25 20:05] slarson commented on #42
I want to focus this issue down to one particular operation that we have in our current readme:

len(set(P.Neuron().load()))

This thing has been running for a long long time (more than 5 minutes) on my laptop with no hope of returning.  As stated above, we are putting this out as a basic way to count how many neurons are in the system, so it needs to return in at least several seconds, not minute

[2015-01-25 20:35] mwatts15 commented on #42
You'll see in my pull request #82 that I added a set of methods that use queries with smaller patterns.

The difference between the queries is this:
Current Pattern:
[code]
New Pattern:
[code]

The first query pattern, of course, yields all of the different ways that each `Neuron` node can be linked to its different `neurotransmitter` nodes, `type` nodes, etc. This is opposed to the second which y

[2015-01-25 20:44] slarson commented on #42
@mwatts15 Brilliant!  Will take a look!

[2015-01-25 23:11] slarson opened #91 "Repair example for finding which neurons have which receptors"
This was in the readme:

See what neurons express some receptor::
[code]

But it doesn't work.  Instead s gets set to:

[code]

It would be really cool if this actually worked !

[2015-01-25 23:16] slarson opened #92 "Repair readme example with evidence"
Readme had examples with the Evidence class.  Currently 90% of it doesn't work or isn't helpful to the user as an initial example.

To repair, let's add some useful evidence into the database.  This would appear to relate to #75 but I think that is a larger issue from what I understand.  From the way the example described below works, we should be able to build an example around the provenance of

[2015-01-25 23:25] slarson commented on #44
Tested all these cases today and they work now!  Great job @mwatts15 !!

[2015-01-25 23:25] #44 closed

[2015-01-25 23:26] slarson commented on #62
We've addressed these cases except for the last one, and #75 and #92 will continue to address these.

[2015-01-25 23:26] #62 closed

[2015-01-25 23:31] slarson commented on #70
I believe this is fixed as well with #82

[2015-01-25 23:31] #70 closed

[2015-01-25 23:33] slarson commented on #42
@mwatts15 hmm I'm confused though.  Because I've been running this since #85 got merged and it is still slow... I would have thought the more efficient queries would have already improved the performance.  What steps are you recommending beyond #85 to improve this?

[2015-01-25 23:49] slarson commented on #42
This example was also in the readme, removing for now, let's put back in when this is fixed.

To get any object's possible values, use load()::
[code]

[2015-01-26 15:32] mwatts15 commented on #91
"TH" is given as a neuropeptide in the `celegans.db` sqlite3 database. This is related to issue #80.
Here's a patch based on a3087ad07918f0746c4fcf3d17bc65ae946cc259: https://gist.github.com/mwatts15/d746b054cf49be6a94c1

[2015-01-26 17:10] mwatts15 commented on #42
@slarson, the second query from my comment gets run with:
[code]

[2015-01-27 16:44] travs commented on #79
This is a good idea. Do you think we should add this at the start of `test.py`, or should we make a shell script that jumps around and does all this, and then runs `test.py`?

I can help make either, just wondering which makes most sense.

[2015-01-28 01:44] travs commented on #87
Notice that I have updated `WormData.n3` in 9a65112. This is the result of running `python insert_worm.py` and `python serialize_it.py` in succession, which should be fixed after we get a script to do what @slarson said in #79

[2015-01-28 22:18] travs opened #94 "Update the docs to match implemented API"
Since MergingWithMaster day is coming up I tried out some of the commands from the API.
I realized after I went through the API that #27 exists already, :expressionless: so I struck through the issues I found that were caused by unimplemented API.

Started with:
[code]

(Is there a way to get to PyOpenWorm's `worm.db` from anywhere, to avoid having to make a new `.conf` file that has the relative

[2015-01-29 00:21] mwatts15 commented on #94
Hi @travs. The document you reference was a proposal that mostly hasn't been modified since moving into the implementation phase, so it may not entirely reflect what I, at least, intend to support with PyOpenWorm for the next release. Is this ticket meant to propose an update to that document to reflect the state of the API as it has been implemented or to propose changes to what has been implemen

[2015-01-29 00:53] travs commented on #94
The first one.
I can definitely help update the docs before we merge alpha0.5 into master, I'm just not familiar with Sphinx, so I'll have to brush up on that as we start.

[2015-01-29 01:31] mwatts15 commented on #94
I think the most that document needs is a pointer back to the live API as generated from the docstrings in source code.

[2015-01-29 02:49] travs commented on #94
Probably lol. Where is the live API?

[2015-01-29 20:21] mwatts15 commented on #94
http://pyopenworm.readthedocs.org/en/alpha0.5/

[2015-02-01 05:05] #83 closed

[2015-02-01 07:08] slarson commented on #53
@mwatts15 hmmm looks like some tests are failing...

https://travis-ci.org/openworm/PyOpenWorm/builds/49060356

[2015-02-02 01:33] slarson commented on #79
@travs I'd say at the start of test.py so it is all automated and can all be executed by Travis-CI .  Thanks for asking!

[2015-02-02 01:51] slarson commented on #94
@travs Awesome list of things you tested out!!!  So cool.  You make good points on the documentation side of this.  I'll include this one in the alpha0.5 critical path.

[2015-02-04 04:00] slarson commented on #87
Closed by #89 !! :)

[2015-02-04 04:00] #87 closed

[2015-02-04 04:02] slarson commented on #88
Closed by #89 !! :)

[2015-02-04 04:02] #88 closed

[2015-02-04 19:57] mwatts15 commented on #90
@travs Can you quantify "super slow" from the description above? I did some timing locally with IPython `%timeit`, I got 3s for `get()`, and 34ms for `count()`.

[2015-02-04 21:18] travs commented on #90
You're right, the commands I listed are not slow at all.
It's when I do something like `list(adal.connection.get('either'))` that it becomes very slow, which is what I was doing in my test originally.
I wanted to get a list of all the Connections involving ADAL, hence the `list()` wrapping, but perhaps I am not giving credit for how complex this query is.

When I run `%timeit` for `list(adal.conne

[2015-02-04 21:19] travs opened #96 "No module named 'six'"
**alpha0.5 branch**

When running `OpenWormData/scripts/insert_worm.py` or `serialize_it.py` the interpreter complains about not having `six`.

Just mentioning this here as a reminder for when #79 gets implemented and (perhaps) fails on CI.

[2015-02-04 22:57] mwatts15 commented on #90
Thanks. Could you try with https://github.com/mwatts15/PyOpenWorm on alpha0.5? This is branch is the subject of #95. I have 6 seconds for `list(adal.connection.get('either'))` on that branch.

As far as the complexity, generating the correct results, for the sort of queries that we generate, isn't actually that complex. The primary problem that I've seen is that the SPARQL that PyOpenWorm generate

[2015-02-04 23:15] mwatts15 commented on #42
I have replaced `DataObject::load` with `load0` in the alpha0.5 branch of my fork, which is the subject of #95. I have about .366 seconds for `list(P.Neuron().load())` on that branch. Acceptable results should be fairly independent of the machine profile, but I can provide my system specs to go with the time if we still have very different results for that query on my alpha0.5 fork.

[2015-02-04 23:20] mwatts15 commented on #96
Do you have `six` installed? It's normally pulled in as a transitive dependency of one or more of our direct dependencies.

[2015-02-05 03:52] travs commented on #96
Had to install it with `pip` then everything was fine.

This was after doing `python setup.py install` in a fresh virtualenv.

[2015-02-05 04:35] travs commented on #90
Yeah my `list(adal.connection.get('either'))` is down to 21s on your fork, which is way better than the 2min on `origin` right now.

[2015-02-05 14:58] mwatts15 commented on #96
You're saying that `six` wasn't installed after `python setup.py install`? In that case, does `six` show up anywhere in the output from the install, either showing as being installed or showing error?

[2015-02-05 15:11] mwatts15 commented on #90
Thanks. We should be able to get times less than 1s for this operation and similar, so this still isn't ideal. I think I'll modify the queries to turn the `rdf:type` triple into a filter expression as I describe above. I think, however, a broader change in how we get data out of the database would be appropriate in the future.

[2015-02-05 18:21] travs commented on #96
Just tried reinstalling in another two new virtualenvs and it works perfectly with either `python setup.py install` or `python setup.py develop`, and since I can't go back far enough in history to see what happened during the install without `six`, I have no idea what went wrong. :confused:

Going to close this until someone else reports something similar.

[2015-02-05 18:21] #96 closed

[2015-02-10 15:38] mwatts15 commented on #86
This issue was fixed with #97. It will be closed when the alpha0.5 branch is merged into master.

[2015-03-05 21:31] mwatts15 commented on #94
Related to #98: The autodocs generated documentation is already present on the main page of the docs. Rather than delete the draft, I would create a document summarizing the design considerations that went into our current iteration and link to the draft from there. The draft itself could hold a link to the most recent docs to resolve residual confusion.

[2015-03-05 23:39] travs commented on #94
Sounds like a good idea to me

[2015-03-06 03:18] mwatts15 commented on #79
I'm not in favor of putting this in `test.py` for two reasons:

- It would lengthen the time it takes to run the tests to completion and discourage developers from running the tests on a regular basis when making changes which is an extremely valuable tool.
- `insert_worm.py` is not and never was meant to be permanent and does not demand testing like the PyOpenWorm Python module. It is only a mean

[2015-03-06 03:26] mwatts15 commented on #55
lxml is no longer a dependency of PyOpenWorm, so this error should no longer appear.

[2015-03-06 03:26] #55 closed

[2015-03-06 03:41] mwatts15 commented on #30
This ticket was opened for alpha0.5 and that branch has since been modified to no-longer insert "graph variables".

[2015-03-06 03:41] #30 closed

[2015-03-15 07:41] VahidGh opened #99 "Remove unnecessary git files to reduce size of repo"
When cloning this repo to the local station, the size of the repo is ~100 MB, while the required files (when downloading .zip file) are just ~2 MB.
I guess the problem is with git history files.

[2015-03-15 11:53] mwatts15 commented on #99
Hi Vahid,

Yes, there are some binaries that have been checked in and a large text
file that's had several global modifications. I intend to fork PyOpenWorm
and do a history rewrite to delete references to the files that are gone
before the 1.0 release.

On Sun, Mar 15, 2015 at 2:41 AM, Vahid Ghayoomi <notifications@github.com>
wrote:

--
Cheers,

Mark W.

[2015-03-16 07:02] VahidGh commented on #99
Hi Mike,
Great, so waiting for R1 :)

[2015-04-03 00:00] mwatts15 commented on #92
Made a small demo for the examples: https://gist.github.com/mwatts15/3600df9be5d2d00e366e
The command line toggle is to skip my local database and read in the OpenWormData.n3 file.

[2015-05-19 16:59] slarson commented on #53
Is this still an issue?  Let's test to make sure.

[2015-05-19 17:25] slarson commented on #99
Doing some research into this, we found this answer for doing this work:

https://stackoverflow.com/questions/11050265/remove-large-pack-file-created-by-git

[2015-05-19 17:27] slarson commented on #99
This answer also relevant because we need to find the big files: https://stackoverflow.com/questions/10622179/how-to-find-identify-large-files-commits-in-git-history

[2015-05-19 17:46] slarson opened #101 "Difference between aval.Syn_degree() in alpha0.5 vs readme"
Output we claim in the readme:

[code]

Output when run on my system on command line:
[code]

I think 74 is the right answer... we need to check to confirm to be sure.

[2015-05-19 17:47] slarson opened #102 "Alpha0.5: net.neurons() returns an error"
On current run:

[code]

[2015-05-19 17:49] slarson opened #103 "Test coverage: net.neurons() not being covered in test set"
@gsarma FYI -- this might be something to look into.  Check out issue #102 for the error that should be covered in a test.

[2015-05-19 17:51] slarson opened #104 "Alpha0.5: Evidence is broken"
Readme says this should happen:
[code]

Actual behavior
[code]

[2015-05-19 17:54] slarson opened #105 "Alpha0.5: Neuropeptide expression bug"
Readme says it should do:
[code]

running it on my system it does this:

[code]

Note that the final answer is 'false' and should be 'true'

[2015-05-19 17:55] slarson opened #106 "Test coverage: neuropeptide test"
We should have a test that verifies that we get "True" out of this.  cc: @gsarma @travs

Related to issue #105
[code]

[2015-05-19 17:59] slarson commented on #45
@gsarma -- can you look into implementing this?  As there are several examples in the readme that are not correctly working, this could be a huge way to keep everything in sync.

[2015-05-19 18:02] slarson commented on #53
For the moment, this seems to work.  Should re-test again before launch just in case.

[2015-05-19 18:02] slarson commented on #102
@mwatts15 can you look into this?

[2015-05-20 00:31] mwatts15 commented on #99
Yes, I used largestFiles.py when I did this before. It rewrites history, so none of the commits after 40c76eef687cbe0743585b9f8178969ff015467c would match up in the new branch compared to GitHub. That's just to say it should be the last step before release.

[2015-05-20 01:15] mwatts15 commented on #102
This would have to be the result of running "examples/rmgr.py". I would clear the database in this case and reload from WormData.n3.

[2015-05-22 02:09] gsarma commented on #103
Added test with @travs.  Will commit as soon as I have commit privileges.

[2015-05-22 02:09] gsarma commented on #106
Added test with @travs.  Will commit as soon as I have commit privileges.

[2015-05-22 02:41] slarson commented on #103
great!  please use the [pull request mechanism](https://openworm.readthedocs.org/en/latest/Community/github/index.html?highlight=pull%20request#forking-github-repositories) for now

[2015-05-22 02:41] slarson commented on #106
great!  please use the [pull request mechanism](https://openworm.readthedocs.org/en/latest/Community/github/index.html?highlight=pull%20request#forking-github-repositories) for now

[2015-05-22 18:29] gsarma commented on #45
Will take a look tomorrow with @travs

[2015-05-22 21:58] #106 closed

[2015-05-22 21:58] #103 closed

[2015-05-22 21:59] travs commented on #105
Fixing #106 means we have added a test that catches this, but it will be an expected failure until the bug is fixed.

[2015-05-22 22:00] travs commented on #102
Fixing #103 means we have added a test that catches this, but it will be an expected failure until the bug is fixed.

[2015-05-23 18:00] gsarma opened #108 "Breakdown test.py into multiple files"
This would help readability of tests and would be valuable for future work.  We should use test.py as a loader to run other tests (including doctests in README.md).  @travs @slarson @mwatts15

[2015-05-23 18:03] gsarma opened #109 "Results of doctests should be tallied alongside ordinary unit tests"
Currently, test.py runs doctests from README.md.  However, the number of passed and failed tests is not tallied alongside the other unit tests, although they are printed to the terminal.

Maybe we should simply import these tests rather than running the file directly.

@travs @slarson @mwatts15

[2015-05-23 19:24] gsarma opened #111 "Create descriptions for each test class in test.py"
@travs and I broke down test.py and created new files for each class.  Would be useful to have high-level descriptions of each of these.

@slarson @mwatts15

[2015-05-25 23:11] slarson commented on #108
Closed by #112

[2015-05-25 23:11] #108 closed

[2015-05-25 23:18] slarson commented on #109
@gsarma Is there a way to run the doctests as part of a TestSuite with the other tests?  Would this help to incorporate the tallies together?  [This answer](https://stackoverflow.com/questions/5681330/using-doctests-from-within-unittests) on StackOverflow seems to have a solution that could be started.

The value of being able to run the Readme.md that I like is that there is zero redundancy -- on

[2015-05-26 02:06] gsarma commented on #109
I think there is- I will look into it along with the other changes that need to be make to restore being able to run tests individually again.

[2015-05-26 13:23] #94 closed

[2015-05-29 18:06] pgleeson opened #113 "Examples don't run correctly until tests are run"
I tried the examples here: https://github.com/openworm/PyOpenWorm/tree/alpha0.5/examples on my machine after successfully running: sudo python setup.py install

Initially (with me being too lazy to read documentation) the examples gave cryptic errors like:

Retrieving names...
Traceback (most recent call last):
  File "NeuronBasicInfo.py", line 32, in <module>
    inter = get_names(net.interneuron

[2015-05-30 15:47] gsarma opened #114 "Tests for catching performance regressions"
This is relevant for all sub-modules, but in particular, @travs mentions that this might be especially useful for PyOpenWorm.  See, for example, #42, #90, #21.

This is not high priority, but after we have a much more mature testing workflow, we should incorporate these kinds of tests.

A simple trick for writing tests that can reliably catch performance regressions across machine:  benchmark func

[2015-05-30 17:24] gsarma commented on #109
@travs and I took one step forward on this.  The doctests are now properly integrated into a test suite.  However, the entire suite is still counted as a single success or failure.  It shouldn't be too difficult from here to get the tests to register individually, but it took some reading to figure out various subtleties with doctests.  We'll issue a pull request once we've fully resolved the prob

[2015-05-31 01:37] slarson commented on #109
Niiice!!

On Saturday, May 30, 2015, Gopal Sarma <notifications@github.com> wrote:

[2015-05-31 01:39] slarson commented on #114
+1. This would be very helpful.  I would suggest googling around for a good
python framework for this.

On Saturday, May 30, 2015, Gopal Sarma <notifications@github.com> wrote:

[2015-06-01 14:03] travs commented on #105
Given this output:
[code]

It appears that [this](https://github.com/openworm/PyOpenWorm/issues/80#issuecomment-69522839) is still a problem.

[2015-06-01 14:17] travs commented on #105
Compare [this line](https://github.com/openworm/PyOpenWorm/blob/5fc9e92c01ccd4a62d6d3f6312ce1094d5dee457/OpenWormData/scripts/insert_worm.py#L163) with sqlite3 output:
[code]

[2015-06-01 17:46] travs commented on #101
Looking into this right now, and dumping info for later use.
The file NeuronConnect.xls is where we get the data for connections. Getting the information for AVAL, we have [this](http://hastebin.com/oyexevupox.lua).

With respect to that data, and using the data legend above the diagrams [here](http://www.wormatlas.org/neuronalwiring.html#Connectivitydata), `S+Sp+R+Rp` will give the total number o

[2015-06-01 18:50] travs commented on #101
OK, the above difference (107 vs 114) for AVAL is caused by the fact that `insert_worm.py` is creating only one Connection for a few of the synapse pairs.

This occurs when something like this occurs in the database:
[code]

Finding a solution now.

[2015-06-02 11:46] travs commented on #105
Fixed by #115

[2015-06-02 11:46] #105 closed

[2015-06-02 12:29] travs opened #116 "Override Connection's __str__ method to print something more useful"
Right now:

[code]

Ideally:

[code]

or something equally as informative for quick viewing.

[2015-06-02 12:33] travs commented on #102
I'm not getting this error when I run it with a newly-generated db. In fact, I'm not getting anything at all:
[code]

This and other methods work though:
[code]

[2015-06-02 12:46] travs commented on #102
OK, we can get all the neurons in the network by creating a "new" Network:
[code]
But not when the Network is retrieved with `P.Worm().get_neuron_network()` or `P.Worm().neuron_network()`.

[2015-06-02 12:52] travs commented on #104
Currently it seems like there is just very little evidence inserted into the db.

All the Evidence that is inserted should happen in [`insert_worm.py`](PyOpenWorm/OpenWormData/scripts/insert_worm.py) and this Sulston et al. example is not in there.

[2015-06-02 13:54] travs commented on #113
Right, IMO the database should be generated when the install script is run (i.e. `insert_worm.py` should be run).

[2015-06-02 14:20] travs commented on #102
See #117

[2015-06-02 14:54] travs opened #118 "Add switch/argument to Syn_degree to indicate whether pairs or pair incidences are desired"
[This function](https://github.com/openworm/PyOpenWorm/blob/alpha0.5/PyOpenWorm/neuron.py#L195-L205) could return either the number of pairs or the number of pair incidences (much higher).

[2015-06-02 15:01] travs opened #119 "test_compare_to_xls should not be an expected failure"
Try AVAL instead of ADAL.

[2015-06-02 15:06] #53 closed

[2015-06-02 15:08] #102 closed

[2015-06-02 15:11] travs commented on #104
Evidence is indeed being added (from README):
[code]

[2015-06-02 17:30] slarson commented on #45
Fixed by #110

[2015-06-02 17:30] #45 closed

[2015-06-02 18:37] slarson opened #120 "The database should be generated when the install script is run (i.e. insert_worm.py should be run)"

[2015-06-02 18:39] slarson commented on #109
@gsarma why don't you go ahead and pull request this much, as it is still an improvement?  Then we can have splitting the tests individually as an additional issue.

[2015-06-02 18:39] slarson commented on #113
@travs yes -- I don't see why not.  This would probably be preferable to #79 and would resolve it.  Made #120 for this.

[2015-06-02 23:57] travs commented on #119
Getting this result when I run it now:
[code]

[2015-06-03 00:58] gsarma commented on #109
Sure thing!

[2015-06-03 04:53] travs commented on #119
This is caused by a naming change between the current database version (which uses things like `AS01`) and an older version serialized as n3 (which uses `AS1`).

These two versions need to be kept in sync.

[2015-06-03 04:55] travs opened #123 "Keep binary and serialized databases in sync"
A problem arose in #119 because these two versions of the database are not kept in sync.

Perhaps post_install ( #121 ) can also do serialization to n3.

[2015-06-03 08:31] pgleeson commented on #113
Great! I really think it would be best if the user gets to the point they can use default/core features as quickly as possible. They can customise it later with other data sources etc. if needed.

[2015-06-03 10:41] slarson commented on #113
Should be solved with #121 -- reopen if not.

[2015-06-03 10:42] slarson commented on #120
Closed with #121

[2015-06-03 11:27] pgleeson commented on #120
Great! However, if you install with:

    sudo python setup.py install

you get a permission error:

    IOError: [Errno 13] Permission denied: '/home/padraig/temp/PyOpenWorm/worm.db.lock'

Maybe change read/write permissions of worm.db?

Is this the best place for this btw, not /usr/local/lib/python2.7/dist-packages/PyOpenWorm? It seems python scripts run from other dirs can't find worm.db...

[2015-06-03 13:40] travs commented on #120
@pgleeson unable to recreate locally.

I have gotten a  similar error when I had an active connection to the database and tried to modify the database from another source. I'm not sure what's happening is your case though, so could you grab a more complete error output?

Also, regarding location of db, you may be correct. Can you post an example?

[2015-06-03 15:10] travs opened #124 "Make database accessible to other modules that use PyOpenWorm as a library"
Raised by @pgleeson in #120.

We should put the created database somewhere accessible by external modules requiring PyOpenWorm as a library. This probably requires changing the default config file as well.

[This may also be related](http://stackoverflow.com/questions/14861634/how-do-i-distribute-data-files-with-a-python-package-such-that-theyre-readable).

[2015-06-03 15:15] slarson commented on #101
Closed by #115

[2015-06-03 15:15] #101 closed

[2015-06-03 15:20] slarson commented on #120
This particular issue should be closed b/c the database is generated when installed.  However, the examples still not working, which @pgleeson points out, is issue #113, which I will reopen instead.

[2015-06-03 15:20] #120 closed

[2015-06-03 15:21] slarson commented on #113
@pgleeson reports:

Great! However, if you install with:

    sudo python setup.py install

you get a permission error:

    IOError: [Errno 13] Permission denied: '/home/padraig/temp/PyOpenWorm/worm.db.lock'

Maybe change read/write permissions of worm.db?

Is this the best place for this btw, not /usr/local/lib/python2.7/dist-packages/PyOpenWorm? It seems python scripts run from other dirs can't

[2015-06-03 15:46] travs commented on #113
@pgleeson [this](http://stackoverflow.com/questions/14861634/how-do-i-distribute-data-files-with-a-python-package-such-that-theyre-readable) may also be related.

[2015-06-03 23:22] travs commented on #113
@pgleeson Also, what OS are you on? I want to try and recreate it

[2015-06-04 01:34] travs commented on #104
@slarson
Evidence suddenly works for me now, perhaps it was fixed by something we recently changed.

The README example still won't work though, because running `P.Neuron(name="AVDL").lineageName("AB alaaapalr")` returns only a `lineageName`, so when we do `e.asserts(P.Neuron(name="AVDL").lineageName("AB alaaapalr"))`, only the `lineageName` (but not the `Neuron`) will be asserted by the Evidence.

[2015-06-04 02:09] travs opened #126 "Assert multiple things at once with the same piece of Evidence"
Currently we have to do something like this to assert multiple statements:

[code]

A slight convenience (and easy fix) would be to instead have multiple arguments:

[code]

[2015-06-04 13:41] pgleeson commented on #113
On Ubuntu. Basically if I run sudo python setup.py install, the following permissions are on the generated files:

drwxrwxr-x 11 padraig padraig    4096 Jun  4 14:30 .
-rw-r--r--  1 root    root      68912 Jun  4 14:30 worm.db.index
-rw-r--r--  1 root    root    5501476 Jun  4 14:30 worm.db
-rw-r--r--  1 root    root    1078832 Jun  4 14:30 worm.db.tmp
-rw-r--r--  1 root    root          6 Jun  4

[2015-06-05 02:02] travs commented on #113
@pgleeson

Ok, I was able to get this error on Ubuntu, but it is not as simple as it seems unfortunately.

Something in PyOpenWorm creates a file called `worm.db.index.index_tmp` *while* the database is connected to, apparently. This file doesn't have `rw` privileges for the non-root user, and since it's a temporary file (and I don't yet know how it's created), I'm not sure how this could be remed

[2015-06-06 16:35] gsarma opened #127 "Archive stale branches"
@travs and I were discussing policies for deleting / archiving branches that have been merged and are no longer part of active development.  Tagging and archiving seems like a good way to go here.  See this SO post:

http://stackoverflow.com/questions/1307114/how-can-i-archive-git-branches

[2015-06-08 11:07] pgleeson commented on #113
Maybe make a sub folder dist-packages/PyOpenWorm/database and change just that folder to have write permissions for all?

Alternatively (since there could in theory be multiple users on a system that want to do different things with PyOpenWorm) have the database in /home/user/.PyOpenWorm? Then the scripts can find the database from whereever they're run. The disadvantage is that root won't create

[2015-06-10 14:15] slarson commented on #104
Fixed by #125

[2015-06-10 14:15] #104 closed

[2015-06-10 14:15] slarson commented on #124
Fixed by #125

[2015-06-10 14:15] #124 closed

[2015-06-10 14:15] slarson commented on #119
Fixed by #125

[2015-06-10 14:15] #119 closed

[2015-06-10 14:17] slarson commented on #123
Fixed by #125

[2015-06-10 14:17] #123 closed

[2015-06-10 14:17] slarson commented on #92
Fixed by #125

[2015-06-10 14:17] #92 closed

[2015-06-10 14:21] slarson commented on #113
Should be fixed by #125

[2015-06-10 14:31] slarson opened #128 "Remove expected failure from doctests"
In order to confirm that examples in the readme are working, let's remove the [expected failure tag](https://github.com/openworm/PyOpenWorm/blob/alpha0.5/tests/test.py#L836) and ensure that all remaining examples are succeeding

- [x] Update number of synaptic connections from 74->90
- [x] Unicode for the names of neurons
- [x] Backtick syntax error
- [x] 302 vs. 333 neurons?

[2015-06-10 14:41] #86 closed

[2015-06-10 14:42] slarson commented on #91
Looks like it is fixed via not failing in the doctests.

[2015-06-10 14:42] #91 closed

[2015-06-11 01:48] travs opened #129 "Distribute worm.db and related files as data files"
Rather than creating them on install, moving them around, and changing permissions, it would be a lot easier to just distribute the database files the way they are when they're fully generated.

This means adding them in `package_data` in `setup.py`, as per [this](https://pythonhosted.org/setuptools/setuptools.html#including-data-files).

It will add some weight to the download (<10mb) but this wo

[2015-06-11 08:50] slarson commented on #127
Good point.  I've gone ahead and thrown out a bunch that are obviously stale / transitory.  I've created a few pull requests for branches that seem like they may have useful stuff and asked about them.

[2015-06-11 09:14] slarson commented on #129
There is actually a rationale behind why it is this way.  By rebuilding the DB "from source" each time with a new version, we ensure that the DB doesn't get out of sync with the information that makes it up.  Otherwise someone could make a change to, say, `insert_worm.py`, but never see it reflected in the actual data.

In addition, we can be sure that we don't start inserting things into the bina

[2015-06-11 12:11] travs commented on #129
Ok, yeah that makes sense.
One motivating factor behind opening this issue was also the difficulty in finding the install location (`site-packages` or `dist-packages` if Ubuntu) of PyOpenWorm, and making sure that the database gets in there. This would be one way to fix that, but there are certainly others.

[2015-06-13 14:26] travs opened #133 "Fit channel models into Muscle and Neuron (i.e. Cell) models"
Since the ion channels are more useful if we know which cells they are in, the data model must take into account the distribution of ion channels.

This could be done in two reciprocal ways. For some Ion Channel model `i` and Cell model `c`:

1. A method `i.appearsIn()` that returns a list of Cells
2. A method `c.ionChannels()` that returns a list of Ion Channels

[2015-06-13 14:44] travs commented on #133
From VahidGh/ChannelWorm#18:

Quoting @VahidGh

We have had some discussion about this in #7, but it would be good to define this problem more clearly here.

There exists a [Cell data model in PyOpenWorm already](http://pyopenworm.readthedocs.org/en/alpha0.5/api.html#cell-name-string), though it does not include any of the parameters Vahid listed above.

To summarize the discussion as I understand

[2015-06-13 14:53] travs opened #134 "Add an example of augmenting a model with evidence"
See VahidGh/ChannelWorm#13

See what we can do with adding meta-data to a [ChannelModel](https://github.com/openworm/PyOpenWorm/blob/alpha0.5/PyOpenWorm/channel.py#L63-L103), and add it to the docs/readme.

[2015-06-13 14:55] travs opened #135 "Add activation parameters to channel model"
See VahidGh/ChannelWorm#11

[2015-06-13 15:41] #127 closed

[2015-06-13 15:41] slarson commented on #127
i think that's the last of them

[2015-06-13 15:53] gsarma opened #136 "Write descriptions for each of the PyOpenWorm tests"
When @travs and I re-structured tests to be more modular, we put in dummy comments in test.py where we would like to have a description of each test being imported.  These need to be filled in, but we probably need @slarson and / or @mwatts15 to help.

[2015-06-13 16:11] #7 closed

[2015-06-13 16:12] slarson commented on #7
Pretty sure this got done

[2015-06-13 16:18] #109 closed

[2015-06-13 22:31] travs opened #137 "Remove duplicate neurons from database"
From #128 the doctest was failing, saying that we had 333 neurons instead of the expected 302.

### You can skip this digging and go to my last comment for the results

It turns out that, depending on how we get the neurons form the graph, a different set is returned.

i.e.
[code]

Did some more digging, and the difference between these two sets ends up being:
[code]
<sub>[(Full list here)](http:/

[2015-06-13 22:34] travs commented on #137
Further digging, and these neurons, in addition to having different names, have different values for their properties. The "zeroless" neurons have no connection information from what I can tell, but have descriptions. The neurons with zeros have no descriptions, but do have connection information.

[code]

Going to look into `insert_worm.py` to see why this might be the case...

[2015-06-13 22:40] travs commented on #137
It turns out that the source of information for `insert_worm.py`'s function `upload_lineage_and_descriptions()` ([linked here](http://www.wormatlas.org/celllistsulston.htm)) uses a different naming convention than the rest of PyOpenWorm.

Instead of AS01, they use AS1, and so on.

[2015-06-15 12:44] slarson commented on #27
Closing for now -- what is there is there.

[2015-06-15 12:44] #27 closed

[2015-06-15 12:51] slarson opened #140 "Clean up autodoc'ed documentation"
Right now the documentation being automatically generated from the source code comes out in a fairly random order and doesn't seem well organized.  Either find a way to get autodoc to make it more structured (so that, for example Worm is documented before Experiment) or create an overview that links into the right docs.  [This](http://sphinx-doc.org/ext/autodoc.html) reference should help.

[2015-06-15 13:00] slarson commented on #137
I believe this is fixed by #138

[2015-06-15 13:00] #137 closed

[2015-06-15 13:00] slarson commented on #128
Fixed by #138 !!

[2015-06-15 13:00] #128 closed

[2015-06-15 13:13] slarson opened #141 "Run doctests on examples in the docstrings in the source code"
Set the doctests to run not only on the README.md but also on the examples that are now baked into the source code.

[2015-06-15 13:17] slarson opened #142 "Make sure all methods are documented"
Go through the source and add any explanations to any methods that ended up undocumented.

[2015-06-15 13:18] slarson opened #143 "Decide on a release schedule"
The library should probably be on a regular release cycle.  Let's decide what that should be and how to handle versioning.

[2015-06-15 13:44] slarson opened #144 "Doctest errors don't fail the build"
There are doctest errors right now but the build doesn't fail as a result of them.  I've left a trivial error in (some inconsistent leading whitespace in the README.md around line 197) and as you can see from [this build](https://travis-ci.org/openworm/PyOpenWorm/builds/66863639) it still passes.

cc: @gsarma @travs

[2015-06-15 14:05] travs commented on #144
Right, and there is also an error in ConfigureTest that doesn't fail the build. Checking into this now.

[2015-06-15 14:25] slarson commented on #144
I got the ConfigureTest one in my latest commit :)
ᐧ

On Mon, Jun 15, 2015 at 7:05 AM, Travis Jacobs <notifications@github.com>
wrote:

[2015-06-15 16:49] slarson commented on #144
Closed by #145

[2015-06-15 16:49] #144 closed

[2015-06-15 19:48] travs opened #146 "Document the data models for ion channel and experiment"
- [x] ion channel
- [x] experiment

[2015-06-15 19:49] travs opened #147 "Add examples of retrieving ion channel and experiment data models"

[2015-06-15 19:50] travs opened #148 "Write validation tests for the ion channel and experiment data models"

[2015-06-15 19:53] #79 closed

[2015-06-15 19:59] #111 closed

[2015-06-15 19:59] #136 closed

[2015-06-15 20:00] travs commented on #47
Unable to reproduce this one.

[2015-06-15 20:00] #47 closed

[2015-06-15 20:01] #9 closed

[2015-06-15 20:01] travs commented on #9
This will happen in the alpha0.5 release

[2015-06-15 20:51] slarson commented on #140
Starting on a branch [here](https://github.com/openworm/PyOpenWorm/compare/alpha0.5...slarson-patch-1?quick_pull=1)

[2015-06-15 23:33] slarson commented on #140
Closed by #149

[2015-06-15 23:33] #140 closed

[2015-06-15 23:35] slarson commented on #99
It. All. Comes. Down. To. This :)

[2015-06-15 23:36] slarson commented on #99
![screenshot 2015-06-15 16 35 40](https://cloud.githubusercontent.com/assets/1037756/8173033/ad80eb4c-137c-11e5-9277-dd8ebed44029.png)

[2015-06-16 08:41] pgleeson commented on #113
Still have trouble with this... Installs fine & copies database files to local PyOpenWorm dir, with correct permissions:

padraig@avicenna2:~/PyOpenWorm$ sudo python setup.py install
....
copying /home/padraig/PyOpenWorm/OpenWormData/scripts/worm.db.tmp to /home/padraig/PyOpenWorm/PyOpenWorm
copying /home/padraig/PyOpenWorm/OpenWormData/scripts/worm.db.lock to /home/padraig/PyOpenWorm/PyOpenWorm
c

[2015-06-16 15:52] travs commented on #113
Right. The issue here is the way that `PyOpenWorm/__init__.py` finds the `dist-packages` or `site-package` directory. I had fixed it for `sudo`, but didn't consider Ubuntu, which seems to be a special case (it uses `dist-packages` rather than `site-packages`).

There are probably other cases analogous to this, so I'm coming up with something completely cross-platform now.

[2015-06-16 16:21] travs commented on #113
Ok, [the latest commit on my fork](https://github.com/travs/PyOpenWorm/commit/c329e87ea59dee97a0907c23075b26bd9088635b) fixes this issue.

Tried it in an Ubuntu VM (using `sudo`)

[2015-06-16 16:24] #113 closed

[2015-06-16 19:55] slarson commented on #99
fixed by #150

[2015-06-17 04:27] slarson opened #151 "Release latest master to PyPI"
This involves:

- [x] Update badges in README.md to point to master instead of alpha0.5 branch
- [x] Do a [github release](https://help.github.com/articles/creating-releases/)
- [x] Follow [these instructions](https://wiki.python.org/moin/CheeseShopTutorial#Submitting_Packages_to_the_Package_Index) to submit

[2015-06-17 09:13] pgleeson commented on #113
I've tested locally and it works fine. Great work guys.

[2015-06-17 12:07] travs commented on #151
We also need to update [these](https://github.com/openworm/PyOpenWorm/blob/15225aae39b2003ddf0ad1ddf10a8cd9d663167f/PyOpenWorm/__init__.py#L59) [two](https://github.com/openworm/PyOpenWorm/blob/15225aae39b2003ddf0ad1ddf10a8cd9d663167f/setup.py#L53) version variables as well, with whichever number we decide to adopt.

[2015-06-17 15:31] pgleeson opened #152 "Single page explaining origin/history of CElegansNeuronTables.xls & NeuronConnectFormatted.xlsx, which one we will use & why..."
These spreadsheets contain essential information on the "connectome" we use but seem to have conflicting information and there are possibly multiple different versions.

Somewhere there needs to be a record of where they come from, which one will be used and how discrepancies are handled. This is related to a number of other issues:

https://github.com/openworm/PyOpenWorm/issues/10 (data sources)

[2015-06-18 16:38] travs opened #153 "Write code that ensures Evidence objects do not overwrite one another"
Specifically, if we create one Evidence object `P.Evidence(doi='12345')` and it asserts some things, making another object `P.Evidence(doi='12345')` should retrieve and not erase the first one.

Going to check if this is implemented, and if not it should be written.

[2015-06-18 17:18] #129 closed

[2015-06-18 17:19] travs opened #154 "Write a PatchClampExperiment data model"
Right now it will just use the fields from the [ChannelWorm data model](https://github.com/VahidGh/ChannelWorm/blob/978b25d0c655be06b688117d9a5e38110d4c1a84/channelworm/ion_channel/models.py).

[2015-06-19 18:33] slarson commented on #99
Unfortunately, just recloned today, and the clone is still ~100 MB... :-/

[2015-06-19 23:51] slarson commented on #99
Rats even with #156 this is still an issue...
![screenshot 2015-06-19 16 49 58](https://cloud.githubusercontent.com/assets/1037756/8264982/5fe405ca-16a3-11e5-8bb2-f4ed82c98c35.png)

[2015-06-20 19:41] slarson commented on #151
Done!

[2015-06-20 19:41] #151 closed

[2015-06-20 19:42] slarson commented on #99
![screenshot 2015-06-20 12 41 04](https://cloud.githubusercontent.com/assets/1037756/8268958/bf4d327e-1749-11e5-984f-ae59e41994ff.png)

FIXED!

[2015-06-20 19:42] #99 closed

[2015-06-21 00:57] slarson opened #158 "Create an Evidence coverage test"
Create a unit test under DataIntegrityTests that walks through all the facts in the DB, looks up what evidence supports it, and finds at least some evidence for every fact.

There are some starts to doing this in the comments on #75

[2015-06-21 00:57] slarson opened #159 "Create an Evidence quality test"
Create a unit test under DataIntegrityTests that checks all evidence in the DB and ensures that it is filled out to a minimum standard of quality (i.e. there is at least a title, there is at least some kind of link to the material)

[2015-06-21 01:00] slarson opened #160 "Add high quality evidence to all facts"
High quality evidence is actually added to the DB to pass the evidence coverage and evidence quality tests

This can be done by starting with insert_worm.py and looking at the data sources for facts.  Then, adding code in insert_worm.py that creates Evidence based on the data source document along side actually adding the information.

[2015-06-21 16:18] gsarma opened #161 "Continue breakdown of test.py"
@travs and I previously broke out many of the tests in test.py into their own suites.  There are a few tests remaining that we left alone because they had slightly more complicated dependencies.  We want to make standalone test suites for the remainder of these tests so that test.py is simply a loader file- we should probably rename it TestLoader.py or POWTestLoader.py.

[2015-06-21 18:07] slarson commented on #90
In addition, getting all synaptic connections in the following way is slow:
[code]

[2015-06-21 18:42] slarson commented on #90
cc: @ahrasheed

[2015-06-22 17:21] travs commented on #154
Selecting attributes related to discussion happening recently in #8

[2015-06-22 21:29] travs commented on #161
@gsarma
I know the install wasn't going easy on you yesterday; did you get any time to work on this one?

[2015-06-23 00:59] travs opened #162 "Load synaptic data attributes into memory at once with Network().synapses()"
As @ahrasheed [points out](https://github.com/openworm/CElegansNeuroML/issues/27#issuecomment-114135436), it would be beneficial to load Connection data (synapse attributes like pre- and post-cell) into memory all at once when calling `P.Worm().neuron_network().synapses()`.

This would greatly speed up the thousands of attribute accesses done in scripts like [OpenWormReader](https://github.com/ahr

[2015-06-23 01:45] travs commented on #152
@pgleeson

Right. And there is also [NeuronConnect.xls being used in PyOpenWorm](https://github.com/openworm/PyOpenWorm/blob/5cc3042b004f167dbf18acc119474ea48b47810d/OpenWormData/scripts/insert_worm.py#L240) (though judging by the file changes in [this commit](https://github.com/openworm/CElegansNeuroML/commit/9c3627f45c49d583975f916c7bb5e80a1ad420ef?diff=unified) they may have the same contents;

[2015-06-23 02:07] travs opened #163 "Create DataIntegrityTest to address synaptic connections"
Given the data source, this test should verify that:
- [x] the number of connections matches
- [x] the contents of each connection matches
- [x] the number of unique neurons making these connections matches

Raised from [points made by](https://github.com/openworm/CElegansNeuroML/issues/27#issuecomment-114135436) @ahrasheed

[2015-06-23 02:17] slarson commented on #163
In addition, do have a look at @aribrich 's work on openworm/CElegansNeuroML#23 .  I suspect there will be some code here to reuse!

[2015-06-23 03:58] ahrasheed commented on #152
@travs [NeuronConnectFormatted.xlsx](https://github.com/openworm/CElegansNeuroML/blob/master/NeuronConnectFormatted.xlsx) in CElegansNeuroML and NeuronConnect.xls which has been taken from [here](http://www.wormatlas.org/images/NeuronConnect.xls) are the same files. The only difference is that the names of some neurons have been changed to match those in [CElegansNeuronTables.xls](https://github.c

[2015-06-23 15:14] travs commented on #152
@ahrasheed thank you for the information. This discrepancy (zeros in the neuron names) also caused us problems, so we had to [normalize the names on insertion](https://github.com/openworm/PyOpenWorm/blob/master/OpenWormData/scripts/insert_worm.py#L220-L230) into the database. As long as we know these two sources are the same, we are now only dealing with two data sources ([CElegansNeuronTables.xls

[2015-06-24 20:00] slarson commented on #152
Most of the history of CElegansNeuronTables.xls is described [in this post](https://groups.google.com/d/topic/openworm-discuss/G9wKoR8N-l0/discussion) on the forum.  NeuronConnect.xls should be the authoritative reference going forward as it is published on a reference website (i.e. hasn't been processed by us).  This should be the case with work done by @ahrasheed and @aribrich .  Let's get a dra

[2015-06-25 15:45] travs commented on #152
@slarson

I started something [here](https://github.com/openworm/PyOpenWorm/commit/6db3a5babf4b405e0068784ac448dcdd7e3a3a8b), but I can't access the docs project on ReadTheDocs to add the `dev` branch.

[2015-06-25 23:49] travs opened #164 "Port connectome comparison script from c302"
Bring the script by @aribrich in https://github.com/openworm/CElegansNeuroML/pull/23 over to this repo and make sure we can run it in this repo.

Will be useful to compare two data sources when justifying which one we are using.

@aribrich

[2015-06-26 15:25] pgleeson commented on #152
I agree that NeuronConnect.xls should be the authoritative reference (it would be good too to make a test to check that PyOpenWorm's copy is identical one downloaded from WormAtlas, in case it gets updated). The steps along the way from there to CElegansNeuronTables.xls should be documented, and ideally encoded in evidence() calls in PyOpenWorm. When it's all there PyOpenWorm should match the data

[2015-06-26 15:27] pgleeson commented on #164
This is certainly the best place for the comparison scripts.

[2015-06-29 14:47] travs commented on #147
Closed by https://github.com/openworm/PyOpenWorm/commit/25d7ea37c711203b1f3d408dabaa2e23a4cea8ea

[2015-06-29 14:47] #147 closed

[2015-06-29 14:50] travs opened #165 "Remove "skip" from Model retrieval examples in README"
Some examples [here](https://github.com/openworm/PyOpenWorm/blob/25d7ea37c711203b1f3d408dabaa2e23a4cea8ea/README.md#modelling-data) won't be run as doctests yet because there is no data available in the database.

As a "skip" I have used the prompt `>>` rather than `>>>`, so this should be changed when data is made available for them somewhere down the line.

blocked by #254
related #368

[2015-06-29 18:51] slarson commented on #152
HI @aribrich @pgleeson @travs @ahrasheed -- I've amended @travs good start on this page here:

https://github.com/openworm/PyOpenWorm/blob/dev/docs/data_sources.rst

My proposal is that we consolidate all .xls or .csv into the aux_data folder under PyOpenWorm.   This means the following spreadsheet files in other places should go away:

* CElegansNeuronTables.xls
* NeuronConnectFormatted.xlsx

Thi

[2015-06-29 19:02] travs opened #166 "Gather evidence for neuron and muscle lists from an alternate source"
The current DB source is great but doesn't provide authoritative enough references for the original source of the data.  As well, it isn't very transparent to be able to see the contents.

We could use [this spreadsheet](https://docs.google.com/spreadsheets/d/1NDx9LRF_B2phR5w4HlEtxJzxx1ZIPT2gA0ZmNmozjos/edit#gid=1) rather than the C. elegans db we currently employ.  The spreadsheet is at least ann

[2015-06-29 19:03] travs opened #167 "Gather evidence for receptor and innexins from alternate source"
Instead of C. elegans db

[2015-06-29 19:05] travs opened #168 "Gather evidence for synapses from updated connectome chart"
Use the new connectome spreadsheet to source our connectome, and use this as the evidence as well.

[2015-06-30 13:27] travs commented on #164
@aribrich

Hey Ari, what's the status of this one?

[2015-06-30 21:22] travs commented on #159
@gsarma and I were discussing this and there are a few things we can be checking for in such a test:

- [ ] link (as Stephen mentioned) on every piece of evidence
- [ ] make sure the link resolves to something other than a 404 error

[2015-07-01 16:15] gsarma opened #169 "Create a cleaner installation experience"
Discussion with @travs:
1) Installation (for all OpenWorm modules) shouldn't be verbose by default
2) Log files should be optionally generated for debugging issues that arise

[2015-07-01 17:18] slarson commented on #169
Thanks for raising it.  What would we do to make [the install procedure](https://github.com/openworm/PyOpenWorm/blob/master/INSTALL.md) less verbose?  It is down to one line if you have pip and 3 if you don't.

[2015-07-01 17:33] gsarma commented on #169
Ah sorry- we were referring to the output to the terminal during the installation.  Of course, it would be great if pip itself supported this (maybe it does?), but if not, it would be nice to have a wrapper script that suppressed the output and simply displayed a status update as the installation progressed.

[2015-07-01 18:38] travs commented on #158
@gsarma We can discuss this tomorrow!

[2015-07-02 16:11] travs commented on #163
Discussions evolving over in openworm/CElegansNeuroML#27 highlight the importance of this issue.
We can reuse some code from https://github.com/openworm/CElegansNeuroML/pull/46 as well.

[2015-07-02 17:19] gsarma opened #170 "Remove stray dependencies from files"
Discussion with @travs:
When we re-factored the PyOpenWorm test suite to breakdown individuals tests into files, we included most dependencies just to be safe and to make sure the suite ran as expected.  Many of these dependencies might not be needed, so it seems worth it to prune them away for future readability.

@travs says there are automated tools to help with this process (SnakeFood).

[2015-07-02 18:09] gsarma opened #171 "Write descriptions for each test file of type _DataTest"
@travs and I finished breaking down test.py so that each class is in it's own file.  Many of these (the ones of type _DataTest) need high-level descriptions.  This should be easy- the individual tests in each class already have descriptions, we just need an overall description for someone quickly scanning test.py.  The description should justify why these tests were included as a single module.

[2015-07-02 19:18] gsarma commented on #161
With @travs:
Fixed by #173

[2015-07-02 19:18] #161 closed

[2015-07-02 19:41] gsarma opened #174 "Check for performance regressions in testing suite"
With @travs:
Yes, this is super meta, but we want to make sure the testing suite itself isn't taking longer than it is supposed to.  Casually, it looks like there is about 20% variation in the time it takes these to run on my machine- I don't really know why.

Open questions:
1) For individual tests, we can hard code timing information for catching performance regressions.  What about in this case

[2015-07-02 19:42] gsarma commented on #158
@travs and I were wondering if this should be in DataIntegrityTest or EvidenceTest.  We made a dummy commit in EvidenceTest for now.

[2015-07-02 21:16] travs commented on #163
@ahrasheed has identified that this issue is a roadblock to completing https://github.com/openworm/CElegansNeuroML/issues/28, and perhaps some related issues in c302.

Abdullah, would you feel comfortable looking at this issue as well? I would like to get this one resolved myself, but it seems like you have a large start on this in [the comments/script you adapted](https://github.com/openworm/CEle

[2015-07-02 22:47] ahrasheed commented on #163
@travs Sure, this seems to be just an issue of adding the connections again. Since the number of connections is less than that in NeuronConnect.xls (which is the source for PyOpenWorm). And once that is resolved it should be trivial to add more tests [here](https://github.com/openworm/PyOpenWorm/blob/master/tests/DataIntegrityTest.py#L88-L93). It will be slow until #162 is resolved, but will still

[2015-07-02 22:51] travs commented on #152
With the advent and revision of [the data sources file](https://github.com/openworm/PyOpenWorm/blob/9378083b4f6d27076c7fad488eef6355341b8a3f/docs/data_sources.rst) this seems safe to close.

Please reply/reopen if you disagree with this one being closed.

[2015-07-03 02:43] travs commented on #163
To reiterate from the gitter chat, this issue depends on getting the new connectome in place first (https://github.com/openworm/PyOpenWorm/issues/168).

[2015-07-03 02:53] travs commented on #168
Steven Cook is going to be updating his new version of the C. elegans connectome (in spreadsheet form) to designate NMJ over the next few days.

[2015-07-03 07:34] cheelee commented on #169
@gsarma I think we should always generate an installation log file as a default, whilst keeping installation output to just "success/warning/failure" notices. The rationale behind suggesting such a  default is because I don't think we should be asking users to run installation a second time (which may or may not suffer from additional side-effects) just so they can debug what went wrong the first

[2015-07-03 07:42] cheelee commented on #174
@gsarma @travs Hi, you don't have to hard code timing information if you don't have to. Running the test with "python -m cProfile -o testPerf.out test.py" will give you a (possibly overly) detailed performance profile to help you get an idea of where the time is spent. I can try to find the mechanisms by which we can reduce the profiling overhead, but it currently stands at 10% overhead.

[2015-07-03 14:12] gsarma commented on #174
Thanks Chee Wai- that's useful information!  Maybe the bigger question then is to store this information and keep track of it over time?  In the future, I think the right thing is to have some kind of anomaly detection framework so that we are notified if anything unusual happens.  And as you say, this will allow us to not hard code timing information.

[2015-07-03 15:30] travs commented on #162
[This](http://hastebin.com/evuligorod.js) is the output of a profiler when calling the `read` function in OpenWormReader.

It appears that the `get` method for DataObjects in PyOpenWorm is what should be changed. When loading an ObjectProperty, all properties of that object should be loaded recursively.

[2015-07-03 16:59] mwatts15 commented on #162
Given the simplicity of the SPARQL queries that go into retrieving these values, I've found it's simpler, and faster, to avoid the query compilation and just scan triples directly. I've already done this work in YAROM and can backport the changes to PyOpenWorm since I have time this weekend.

[2015-07-03 17:31] travs commented on #162
@mwatts15 It's good to hear from you again :smile:
And that would be a great help, Mark; thank you!

[2015-07-03 17:46] pgleeson commented on #152
Sorry, think there's more to go on this... That data description page should be bulletproof from a scientific perspective, it should be as detailed as would be required for a publication, citing in it the original references, discussing the labs involved, saying why these choices were made, etc.

Again, sorry to be annoying about this, but PyOpenWorm is going to form the basis for a lot of OpenWor

[2015-07-03 18:21] gsarma commented on #158
@travs and I are working on this, but it seems that when you iterate over the generator neurons, the return type is a unicode string with the name of the neuron and not a neuron object:

for n in neurons:
    n.type()
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-60-2bf6c3e6e4c2

[2015-07-03 18:33] gsarma opened #175 "Create test and fix: Generators reset when called"
@travs and I are both seeing this issue:

[code]

[2015-07-03 19:09] slarson commented on #162
@mwatts15 that would be a *HUGE* help.  I believe this would also address #90 .  Thanks Mark!

[2015-07-03 21:03] slarson commented on #175
Good catch @gsarma and @travs -- let's definite do a test that captures this, in addition to figuring out what is going on.

[2015-07-04 14:59] cheelee commented on #174
@gsarma It ought to be possible. I can do a quick check of what people are using to store/process performance information gathered this way to support performance regression testing for their codes. The output from using "-m cProfile" is a binary data file that the cProfile module in Python provides an access API for accessing and displaying the data:

https://docs.python.org/2/library/profile.htm

[2015-07-04 15:31] gsarma commented on #174
@cheelee that sounds great!  I think this should be part of a larger effort to have a web-based information dashboard for tracking tests across all repos.

@travs @slarson

[2015-07-04 16:31] cheelee commented on #174
@gsarma Commercial systems do exist for performance regression via web dashboards, but the one I'm familiar with (NewRelic - http://newrelic.com/) is somewhat expensive, and holds your data. Might be nice to design an extensible open source skeleton for supporting something similar for groups like ours.

[2015-07-04 16:34] gsarma commented on #174
@cheelee  We could conceivably make a bare bones one to serve out needs with Jupyter notebooks.

[2015-07-04 16:43] cheelee commented on #174
@gsarma hmmm this looks interesting. Thanks, I'll check it out! https://jupyter.org/

[2015-07-04 16:47] gsarma commented on #174
@cheelee I think the most basic thing would be to simply have the .out files dumped somewhere that can be accessed from the web and write some simple tools to summarize the results.  We'll need to figure out where to store these and then to setup an iPython server for OpenWorm.

@slarson @travs

[2015-07-06 17:49] travs commented on #162
@mwatts15 I see there's some work on [your fork](https://github.com/mwatts15/PyOpenWorm/tree/dev+yarom_query) toward this.
Anything I can do to help?

[2015-07-06 22:19] gsarma opened #176 "Make all Neuron and Muscle objects Cell objects as well"
@travs and I are working on #158 and it is not clear what Cell objects are supposed to be.  For example:
[code]
Also:
[code]

[2015-07-06 22:29] slarson commented on #176
Documentation is sparse, but present [over here](https://pyopenworm.readthedocs.org/en/latest/api.html#cell).  Along which lines should we be fleshing it out to add clarity?

[2015-07-06 22:52] gsarma commented on #75
@travs and I added tests for neuron and muscle evidence- there is nothing for either category.

[2015-07-06 23:01] slarson commented on #158
This could be improved, but at the moment, that is the [behavior in the api](https://pyopenworm.readthedocs.org/en/latest/_modules/PyOpenWorm/network.html#Network.neurons).  Superior behavior would be to return the objects instead of strings as now, but to make sure to implement [`__str__`, `__repr__` and maybe even `unicode`](http://stackoverflow.com/a/1535336/2733572) to ensure that the user can

[2015-07-06 23:05] slarson commented on #75
@gsarma link? :)

[2015-07-06 23:36] travs commented on #176
@slarson There are a couple separate issues here I believe, one being the lack of `Cell` objects in the database (just "ALA"), the other that the `blast` function is returning nothing. The latter is probably a result of the former.

If we agree that "`muscles + neurons == cells`" then we could change the `cells` call to something like:
[code]

Does this seem like a reasonable approach?

[2015-07-06 23:42] travs opened #177 "Fill in details on all citations in datasource description page"
Raised from [Padraig's point here](https://github.com/openworm/PyOpenWorm/issues/152#issuecomment-118400726).

We need to make [the datasource description page](https://github.com/openworm/PyOpenWorm/blob/dev/docs/data_sources.rst) more rigorous, adding things like:

- [x] citations of original references
- [x] discussion of labs involved
- [x] explanation of decisions we made about the datasource

[2015-07-06 23:46] travs commented on #152
@pgleeson Good points you're raising here. I know I said to reopen this but I think it is fitting to open a separate issue as it is more general than just the connectome data source. #177 is opened in this regard, and is surely missing some of the relevant details.
Padraig, if you're able to give that list a scan it would be greatly appreciated.

[2015-07-06 23:54] gsarma commented on #75
Whoops!  It's on my fork:
https://github.com/gsarma/PyOpenWorm/commit/9116c483995871d220cc31a0a8cef29138593dac

I'll issue a pull request after we add the remaining ones- we've been spending some time discussing general PyOpenWorm issues (some of which we've raised).

[2015-07-06 23:56] travs opened #178 "Make net.neurons() return Neuron objects instead of strings"
Raised from [here](https://github.com/openworm/PyOpenWorm/issues/158#issuecomment-118404848).

@slarson says:

[2015-07-07 00:06] slarson commented on #176
@travs  Helpful clarification.  I think the solution needs to be a bit deeper.  `Cell` is the super class of both `Muscle` and `Neuron`:

![screen shot 2015-07-06 at 4 59 59 pm](https://cloud.githubusercontent.com/assets/1037756/8536014/808d5ef6-2400-11e5-8d38-1d0ef25d59a7.png)
![screen shot 2015-07-06 at 5 00 06 pm](https://cloud.githubusercontent.com/assets/1037756/8536015/830b8572-2400-11e5-92b

[2015-07-07 00:29] #152 closed

[2015-07-07 00:39] mwatts15 commented on #176
`Cell` objects represent known cells in a representative C. elegans. A `Cell` object could represent some cell in the C. elegans digestive tract, or the epidermis, or the reproductive organs besides neurons and muscles. Common to all `Cell` objects is the lineage name from which "daughterOf" and "blast" properties are derived.

The utility of subclassing `Neuron` and `Muscle` from `Cell` is limite

[2015-07-07 01:12] slarson commented on #176
Thanks for this @mwatts15

Question:

How does one accomplish this via code in `insert_worm.py`?  Or perhaps better asked, if someone creates a `Neuron` or `Muscle` in insert_worm.py should we have some code somewhere in the API itself that does this behind the scenes?

[2015-07-07 01:37] mwatts15 commented on #176
It would be the latter. At one point, I introduced a change that added rdf:type triples for all super-classes of an object's type, but thanks to the way I generated SPARQL queries, this created an order of magnitude slow-down in query execution that was unacceptable.

The introduction of additional type triples can be partially automated by adding n3 rules like:
{ ?x rdf:type :Muscle } => { ?x rdf

[2015-07-07 01:38] mwatts15 commented on #176
That could be done automatically, though I'm not certain of how that would be done in FuXi.

[2015-07-07 03:28] travs commented on #168
According to the author, the new connectome spreadsheet being used [here](https://github.com/openworm/PyOpenWorm/blob/60d2321017dcf37e8001613706487404fcf56c16/OpenWormData/aux_data/herm_full_edgelist.csv) is different than the old format, in that:

This should not be a problem and will actually simplify some things.

[2015-07-07 11:37] pgleeson commented on #177
Looks good so far...

Btw, I thought the documentation had been translated to markdown at some stage..?

[2015-07-07 11:45] pgleeson commented on #168
Shouldn't this spreadsheet (& where it's come from etc.) be on the [data sources page](https://github.com/openworm/PyOpenWorm/blob/dev/docs/data_sources.rst)?

[2015-07-07 14:43] slarson commented on #168
Once it is actually a data source (i.e. actually integrated), absolutely!
ᐧ

On Tue, Jul 7, 2015 at 4:45 AM, Padraig Gleeson <notifications@github.com>
wrote:

[2015-07-07 15:50] travs commented on #158
@slarson

We have three tests for this (muscles, neurons, connections) and a stub test for Channels over [here](https://github.com/openworm/PyOpenWorm/blob/0ca647a399c85b51e3f400f4ce5b1b718ace0c50/tests/EvidenceTest.py#L155-L191), but given the lack of tagged Evidence for each DataObject (#75), they are marked as expectedFailures.

Marking this as closed now.

[2015-07-07 15:50] #158 closed

[2015-07-07 15:51] travs commented on #75
Solving https://github.com/openworm/PyOpenWorm/issues/176 will feed into this

[2015-07-07 15:53] slarson commented on #158
Woo hoo!
ᐧ

On Tue, Jul 7, 2015 at 8:50 AM, Travis Jacobs <notifications@github.com>
wrote:

[2015-07-07 15:55] gsarma opened #179 "Add evidence for neurons"
Sub-issue of #75:
EvidenceTest.py now has tests which verify that each neuron object has an associated piece of evidence.  These are currently marked as expected failures because most do not have any evidence.

[2015-07-07 15:55] travs opened #180 "Remove expectedFailures from EvidenceTests"
@gsarma and I went through and made three new tests that check that each DataObject has evidence attached to it.

Once we have evidence we can remove the expectedFailure decorators from these tests.

Raised from #158. Depends on #75 and related issues.

[2015-07-07 15:55] gsarma opened #181 "Add evidence for cells"
Sub-issue of #75:
EvidenceTest.py now has tests which verify that each cell object has an associated piece of evidence.  These are currently marked as expected failures because most do not have any evidence.

[2015-07-07 15:56] gsarma opened #182 "Add evidence for muscles"
Sub-issue of #75:
EvidenceTest.py now has tests which verify that each muscles object has an associated piece of evidence.  These are currently marked as expected failures because most do not have any evidence.

[2015-07-07 16:42] gsarma commented on #159
@travs and I wrote tests for this.  They are marked expected failures for now, but otherwise, we can close this issue.

[2015-07-07 16:42] #159 closed

[2015-07-07 16:43] travs opened #183 "Remove expectedFailures from EvidenceQualityTests"

[2015-07-07 16:47] gsarma opened #184 "Ensure appropriate granularity of tests"
Discussion with @travs:
In some cases, we have a single test that verifies an entire class of behavior.  For example, in the evidence quality tests that we just added, we verify wholesale that every fact has a doi or url.  This means that in the event that there is a failure, the user will have to interactively determine where exactly the failure is- the test won't reveal that information.

We sho

[2015-07-07 16:51] gsarma commented on #174
Suggestion from @travs:
https://www.pythonanywhere.com

[2015-07-07 20:31] travs commented on #177
@pgleeson In some other repos it has, but not here because of the heavy usage of docstrings/autodocs. When `Mkdocs` supports this (specifically, the version that RTD is using), we can switch over easily.

[2015-07-07 21:26] travs opened #185 "Expand schema to include WormBaseID"
This applies for:

- [x] cells
- [x] muscles
- [x] neurons

[2015-07-07 21:27] travs opened #186 "Expand schema to include synonyms"
This applies for:

- [x] cells
- [x] muscles
- [x] neurons

[2015-07-07 21:28] travs opened #187 "Write test for WormBaseID coverage"
All of these should have a wormbaseID:

- [x] cells
- [x] muscles
- [x] neurons

Also note to write a docstring for this new part of the schema.

[2015-07-07 21:29] travs opened #188 "Expand schema to include synonyms"
This applies for:

- [ ] cells
- [ ] muscles
- [ ] neurons

Also note to write a docstring for this new part of the schema.

[2015-07-07 22:07] travs opened #189 "For muscle cells: Get WormBaseID and Synonyms from WormBase into Cell List"
[Cell list](https://docs.google.com/spreadsheets/d/1NDx9LRF_B2phR5w4HlEtxJzxx1ZIPT2gA0ZmNmozjos/edit#gid=1) is here.

Columns with a "1" in either `H`, `I` or `J` need to have these columns (WormBaseID and Synonyms) filled in before #166 and #168 can move forward.

One way to do this would be to write something in Google AppScript that can use WormBase's API to populate these cells.

[2015-07-07 22:08] travs commented on #188
Duplicate of #186

[2015-07-07 22:08] #188 closed

[2015-07-07 23:35] mwatts15 commented on #162
I'm getting the tests to pass at the moment. Feel free to look over it at this stage.

[2015-07-08 04:45] cheelee commented on #174
@gsarma That's a python development/execution cloud service. What we're gonna need is a way to store/process/present performance regression data. Some of my thoughts on this are:

1. Storage - depending on frequency, nature and size of data (I'll elaborate below,) we'll need some large-ish free hosting ... my guess is in the 50Gb to 100Gb range over the long-term. The 500Mb offered by pythonanywhe

[2015-07-08 15:16] gsarma commented on #174
@cheelee thanks for the great analysis!  I think @travs suggested Python Anywhere in the context of figuring how to host our own server for Jupyter notebooks.  What would be the right way to do that?

In terms of hosting, this doesn't sound like it will be very expensive.  Once we absolutely nail down what we need we can talk to Stephen.

[2015-07-08 15:44] gsarma opened #190 "Restore ability to run tests individually"
With @travs:
As the testing suite has been broken down and modularized, we've lost the ability to run tests individually.  For example:
[code]
and so on will return:

[code]

We need to restore this functionality.

[2015-07-08 15:52] gsarma opened #191 "Write a function to print out files that have skipped tests / expected failures"
With @travs:
It would be nice to have a simple way for someone to quickly see which tests are being skipped or are marked as expected failures without having to run the test suite.  Should be a simple string matching task.

We could include this in test.py as a helper function.

[2015-07-08 16:12] gsarma commented on #175
@travs and I added a test for this.  Still investigating the original problem.

[2015-07-08 16:21] gsarma opened #192 "Investigate benefits of using Nose for testing"
With @travs:
General discussion about merits of moving to Nose.  @cheelee do you have any thoughts?

Possible options:
1) Migrate existing code base over to Nose (might not be worth the investment).
2) Move to Nose for new tests

Relevant issues:
#190- moving to Nose might make it easier to run tests individually.
See also #184.

[2015-07-08 18:29] slarson commented on #114
@ kevcmk check this out

[2015-07-08 21:54] #10 closed

[2015-07-08 22:02] travs commented on #162
@mwatts15 Awesome! Will do. You can make a PR to `dev` at your convenience

[2015-07-09 03:28] cheelee commented on #192
I'm not familiar with Nose, but I'll check it out. Adding a quick link to give some context for others if they are interested:

http://pythontesting.net/framework/nose/nose-introduction/

[2015-07-09 03:37] cheelee commented on #114
This really ought to be right in my alley for research on performance tools, but strangely enough I do not recall any research work done for automatically comparing the performance profiles of two simulation experiments for regression purposes! We've always done this manually, and never thought much more about it ... I'm going to have to dig around at the performance analysis literature ... someon

[2015-07-09 14:15] gsarma commented on #114
It doesn't need to be very complicated- even if we just verify that we are within 10-15% of past performance, it should be useful.

Ultimately, when we have a really clean way of working with past profiling information, we should have some kind of anomaly detection framework.

[2015-07-09 14:24] cheelee commented on #114
I agree. In its most general form, I think this is a very difficult problem. I'm still surprised I cannot find much in the way of literature on this after an early attempt. Of course the HPC folks focus on the problem of performance prediction on new architectures, so it is related but not the same as the ability to pick out detailed performance anomalies between different execution configurations

[2015-07-09 17:54] gsarma commented on #190
Fixed by:
https://github.com/gsarma/PyOpenWorm/commit/030c59e8030d54bf188adaf9e25c72939ab63a6d

[2015-07-09 19:13] #190 closed

[2015-07-09 19:24] travs commented on #192
With @gsarma:
It seems more reasonable to adopt nose going forward, and have backward-compatibility to allow us to write new tests in nose (reaping whatever benefits Nose may give), but not break our old testing scheme.

[2015-07-09 19:35] travs commented on #169
I believe pip does have a verbose option that can be enabled/disabled.

Maybe we would have to suppress the output or redirect it into a different stream that can only display to terminal when `-v` is enabled.

[2015-07-09 21:17] gsarma commented on #171
I've added a few descriptions by looking at the comments to the tests themselves, but there are a number of them that I don't really understand well enough to write descriptions for:
https://github.com/gsarma/PyOpenWorm/commit/924b65e7d6438f200f7d5f2141cb97ee29c7a789

Also, many of the tests are still missing descriptions.

@slarson can you finish this by looking through the comments marked TODO i

[2015-07-09 21:55] gsarma commented on #191
Added a simple utility for this:
https://github.com/gsarma/PyOpenWorm/commit/b36cdc1b7b782bc6790d5c0abf5a982c7c39411d

This is good for now.  We can add additional utilities that might be useful to this file in the future.

Will close once various pull requests are approved.  @travs

[2015-07-09 21:57] travs commented on #174
@cheelee @gsarma
At a glance, I think [codespeed](https://github.com/tobami/codespeed/) might be exactly what we're looking for...
Here's [one implementation running for PyPy](http://speed.pypy.org/).

It's a django app, so that's 40+MB of overhead, but I think the framework it provides may outweigh the small amount of lost storage.

In any case, we can start on PythonAnywhere and scale accordingl

[2015-07-09 22:38] travs commented on #190
:+1: :+1: :+1:

[2015-07-09 23:53] gsarma commented on #191
Added another useful utility:
https://github.com/gsarma/PyOpenWorm/commit/f104dce33d36596f29812b2751726ddb37f04498

[2015-07-10 00:09] gsarma commented on #191
Added a helper function to find dummy tests:
https://github.com/gsarma/PyOpenWorm/commit/4e753eed0edd7da12c7b299100fdf618b6a0e3e9

[2015-07-10 17:04] travs opened #195 "Add coveralls badge to the readme"
[Testing testing](https://coveralls.io)

[2015-07-10 17:46] gsarma commented on #191
Fixed by https://github.com/openworm/PyOpenWorm/pull/194

[2015-07-10 17:46] #191 closed

[2015-07-10 20:54] gsarma commented on #192
@travs and I are looking into using coveralls for tracking test coverage.  It looks tricky to actually get working, and this person suggests that using nose helps the process:

http://levibostian.com/python-code-coverage-and-coveralls-io/

[2015-07-10 21:03] gsarma commented on #192
Also relevant:

https://sourcegraph.com

[2015-07-10 21:57] gsarma commented on #195
With @travs:
Done!
[![Coverage Status](https://coveralls.io/repos/openworm/PyOpenWorm/badge.svg?branch=dev&service=github)](https://coveralls.io/github/openworm/PyOpenWorm?branch=dev)

[2015-07-10 21:57] #195 closed

[2015-07-10 22:00] gsarma commented on #170
I got snakefood working and was able to generate a basic dependency graph.  I will probably need to go through all of the files manually and prune away the stray imports.  I'm not quite sure how snakefood generates these graph, so I might be misunderstanding exactly what the output is.

[2015-07-11 14:39] gsarma commented on #170
It looks like snakefood doesn't do what I thought it was doing.  The dependency graphs are inferred from import statements, not by running the code and looking at which modules are actually imported.  Unfortunately, this is not so useful to us at the moment, but is a nice tool to know about.

[2015-07-11 21:29] travs commented on #170
@gsarma I think this may still serve a useful purpose! There are kind of two issues here: one is finding dependencies that are installed in setup.py but never used in the rest of the code; The other is finding import statements that pull in code that is never used.

For the first one, if you use the `--follow` option in `sfood`, apparently, it follows the sub-dependencies of each direct dependency

[2015-07-11 21:31] travs commented on #170
Ooh, it looks like [pylint](http://www.pylint.org/) may actually do the second thing as well!

[2015-07-12 16:10] kevcmk commented on #114
For reference, @cheelee 's cProfile script gist

https://gist.github.com/cheelee/03a8b60454d57ab3820d

[2015-07-12 16:10] kevcmk commented on #114
and instructions for using it:

https://gist.github.com/cheelee/aaa73d44c8e82b8c3730

[2015-07-13 02:55] cheelee opened #197 "INSTALL.md instructions missing several dependencies"
Our installation instructions do not explicitly check for a number of dependencies. For my machine, these were numpy, tables (which in turn requires hdf5 to be supported - brew install hdf5 for me), and jsonpickle. The reason I qualify this with "For my machine" is because I do not remember what I had previously installed via pip, and I had done a "pip install scipy" as a random troubleshoot when

[2015-07-13 03:00] cheelee commented on #197
Quick update of additional information:

1. This resulted from attempting pip install pyopenworm. On my laptop, I had run python setup.py install.
2. I was premature in stating above that "I was finally able to run" ... in fact all the tests fail.
3. This test used the "dev" branch of PyOpenWorm.

[2015-07-13 03:03] cheelee commented on #197
Early error output from the tests:

Arya:PyOpenWorm cheelee$ python tests/test.py
Testing with configs: ['tests/test_default.conf', 'tests/test_ZODB.conf']
........ss.....ss.s...................sss...sxux....................x........ss.....ss.s...................sss...sxux....................x..............[PyOpenWorm] Loading data into the graph; this may take several minutes!!
EPyOpenWorm alread

[2015-07-13 03:13] cheelee commented on #197
Installation via "python setup.py install" under the same conditions after a "pip uninstall PyOpenWorm" resulted in a partially successful test. I'll also note that the post-installation tasks (of populating the database?) does not appear to have taken place when following the installation instructions for "pip install pyopenworm":

Using /usr/local/lib/python2.7/site-packages
Finished processing

[2015-07-13 18:13] gsarma commented on #170
@travs, yes the approach you described will definitely help us find stray dependencies in setup.py.  That's a great idea.

But we still need a way to find stray dependencies in each of the testing files- it does look like pylint will take care of that.  We need to get a linter setup anyway, so maybe this is a good reason to get this started.

[2015-07-15 17:35] travs commented on #114
@cheelee Is this included in your pull request?

[2015-07-15 18:18] travs commented on #141
@gsarma Hey, what do you think about this?

[2015-07-15 18:20] travs commented on #2
@pgleeson Do you still feel strongly about this, or can we close it?

[2015-07-15 18:34] travs commented on #164
@aribrich Just to close the loop on the chat we had, I can go ahead and move the script over here. I can also definitely make sure your name and handle are in the comments as the author of the script. What do you think?

[2015-07-15 21:28] aribrich commented on #164
@travs , if you have the time, please go ahead a move the script. I haven't had a minute to look at this in the last few weeks, so it might be the best way to close this issue. Don't worry about the handle - I just had that in there when I was working on my machine.

[2015-07-16 03:13] cheelee commented on #114
@travs Hey, yes. Both are. @kevcmk will have more elegant code for automatically handling the collection of performance data as well as structuring them for subsequent regression analysis soon.

[2015-07-16 11:43] kevcmk commented on #114
#198

[2015-07-16 14:24] pgleeson commented on #2
Arguably more Pythonic, but at this stage "PyOpenWorm" is pretty established as the brand name for this and I suppose it's not a big issue to keep it as is.

[2015-07-16 14:24] #2 closed

[2015-07-16 15:39] travs commented on #186
Closed by b76061b

[2015-07-16 15:39] #186 closed

[2015-07-16 15:39] travs commented on #185
Closed by b76061b

[2015-07-16 15:39] #185 closed

[2015-07-16 15:40] travs commented on #189
This has been worked on over [here](https://script.google.com/macros/d/MvgWQ7CcWzRLx6666ORXUg-0NNQJl5TCH/edit?uiv=2&mid=ACjPJvHm27WeXPNOI13odwbw_D5BeMjTeanpehFxFg8iBFy9hnFzXav5f98mowsoFG6H9Sv3qUSDs2Hh0t6st1MyMK5yrSSopBQXQxuW9KrP4pgwdPxiF8m8HEVfMQlTWH3c0CWKJKNP1vU)

[2015-07-16 16:20] travs commented on #166
We ended up doing something like this in Google Apps Script, which is tracked in #189

[2015-07-16 17:26] slarson commented on #187
@signija check this out.

[2015-07-16 17:27] slarson commented on #185
@signija This is the issue that created the WormBaseID to start with.  Have a look at the commit by @travs and ask any questions here.

[2015-07-19 07:49] ahrasheed commented on #168
@travs I have added a check for _neuronal connections only_ to your new connection upload function [here](https://github.com/openworm/PyOpenWorm/commit/f33b71b8ee86e78065ec3f26eda8be242281bc67). Let me know if you disagree.

[2015-07-21 03:37] travs commented on #189
This is now complete! You can heck out the changes over [here](https://docs.google.com/spreadsheets/d/1NDx9LRF_B2phR5w4HlEtxJzxx1ZIPT2gA0ZmNmozjos/edit#gid=1).

[2015-07-21 03:37] #189 closed

[2015-07-21 03:41] travs commented on #168
@ahrasheed Sorry, I didn't get a chance to work on adding a `synonyms` and `wbid` property tonight. I'll do this tomorrow, and we can keep the discussion going in the gitter chat!

Let me know if there are any sticking points on modifying the functions in `insert_worm.py` or adding the cell list :smile:

[2015-07-21 13:54] travs commented on #192
@kevcmk has commented on difficulties in configuring Nose, and offers that py.test may be a better option. I just suggested Nose as it's what I've used in the past, but anything that is more developer-friendly is good by me

[2015-07-21 15:53] travs commented on #162
@mwatts15 I'm trying to run your code here, but I am running into a little trouble. I'm pulling from your `dev` branch, and run into a 'yarom' dependency, which I install from your repo using `pip install git+https://github.com/mwatts15/YAROM.git@dev`.

Then when I try to run it I get an error for `rdflib.namespace`:
[code]

Is there a certain version of YAROM I should be using?

[2015-07-21 16:09] travs opened #199 "Fix Connection object generation with strings"
Currently if a pre_cell or post_cell are specified with a string when making a Connection object, they will be assumed to be Neurons. The code for this is [here](https://github.com/openworm/PyOpenWorm/blob/dev/PyOpenWorm/connection.py#L52-L66).

Since Connections can now be between Neurons and Muscles, this should be updated.

Will require looking at the list of Muscles and list of Neurons to find

[2015-07-22 01:56] mwatts15 commented on #162
I'd only recommend the latest versioned release of YAROM.
I just fixed a regression in YAROM's setup.py causing dependencies not to be installed, so that could be your issue.

[2015-07-22 23:45] slarson commented on #192
Based on @kevcmk's [analysis](https://gitter.im/openworm/PyOpenWorm?at=55adfb63ea4b0b3b25a501c8), I'd suggest we close this and move ahead with PyTest.  Cool?

[2015-07-23 00:51] gsarma commented on #192
I'm fine with closing it.  I've been reading a blog on Python unit testing, and he says some contradictory things about PyTest versus nose.  I'll keep learning about both and it doesn't seem like we will be closing off options for ourself in any case for the future.

[2015-07-23 19:03] slarson commented on #187
Great job on #200!!  Next step on this is to add to [DataIntegrityTest.py](https://github.com/openworm/PyOpenWorm/blob/dev/tests/DataIntegrityTest.py)  a check that pulls all cells, neurons, and muscles, and ensures that the Wormbase ID is actually populated.  @travs is working on adding this data now, so for now, the goal is to add this test with a [unittest.expectedFailure decorator](https://doc

[2015-07-23 19:44] travs opened #201 "Test Synonyms and Wbid functionality for Cells"
- [x] Test ability to add and retrieve wbid
- [x] Test ability to add and retrieve synonyms

@signija added the wbid test with #200, so only the latter remains

[2015-07-24 16:44] #192 closed

[2015-07-26 01:18] travs commented on #162
Ok, I'll download that and give it a shot then.

[2015-07-26 15:46] cheelee commented on #174
Argh! Dropped the ball on this one. I'll put this on my TODOs, and try out codespeed and see if it can be configured to our purposes.

[2015-07-26 17:32] travs commented on #162
@mwatts15 Unable to get this to install with YAROM v0.6.5. When running insert_worm.py I get this error:
[code]

I also had to change a number of dependencies to get `setup.py` to be compatible between YAROM and PyOpenWorm.

[2015-07-26 18:37] cheelee commented on #174
Alright, tested codespeed using its instructions and it sort of works. The necessary caveats:
1. The release version has not been updated in a while, and will not work with modern environments.
2. The trick is to use the current repository version (still maintained) and virtualenv to create a sandbox pip environment. The steps can be found in this gist: https://gist.github.com/cheelee/3423e1c580e0

[2015-07-27 13:58] #154 closed

[2015-07-27 14:08] travs opened #202 "Update ion channel data model"
This should include many of the new fields in the now-versioned [ChannelWorm data model](https://github.com/VahidGh/ChannelWorm/blob/master/channelworm/ion_channel/models.py#L31-L51).

[2015-07-27 15:08] travs commented on #135
Since the data model for Ion Channel in PyOpenWorm has a subset of the properties being used in ChannelWorm, this can be closed, and the issue of adding activation parameters can be tracked in https://github.com/VahidGh/ChannelWorm/issues/43. Anything that is added over there for activation parameters should be mirrored here as well.

[2015-07-27 15:08] #135 closed

[2015-07-27 15:14] travs commented on #134
Fixed by https://github.com/openworm/PyOpenWorm/commit/21119466a0216b70a4d4bdbf46ab7dbfb1688cae

[2015-07-27 15:14] #134 closed

[2015-07-27 16:01] travs commented on #153
Fixed by
https://github.com/openworm/PyOpenWorm/commit/67faeb68e4bed9a3f8dc64d233c6938a4e750093

[2015-07-27 16:01] #153 closed

[2015-07-27 16:14] travs commented on #202
@slarson We can discuss this at our check-in, but just noting it here:

Which of [these attributes](https://github.com/openworm/PyOpenWorm/blob/67faeb68e4bed9a3f8dc64d233c6938a4e750093/PyOpenWorm/channel.py#L119-L137) do you think are relevant to include in the PyOW Ion Channel data model? (note that these are all from the CW model)

[2015-07-27 16:15] travs commented on #148
@slarson Let's talk about this one at our check-in today. I don't have a good sense of what it is trying to accomplish.

[2015-07-27 16:21] travs commented on #174
@cheelee
Awesome stuff here! Have you and @kevcmk discussed where we could potentially deploy this? Is PythonAnywhere suitable, or should we go somewhere else?

[2015-07-27 16:29] cheelee commented on #174
@travs Not yet. PythonAnywhere looks like a good place to start. Codespeed's workflow expects performance data generation to make use of codespeed too, so any initial deployment of this will be a prototype which we can use to craft something more suited to our needs. Right now I think @kevcmk and my plan is to quickly shoehorn the performance data we get from python's cProfile output into the json

[2015-07-27 16:42] cheelee commented on #174
Realized I should throw up some screenshots of their sample data to give people a feel for what kind of visualizations to expect from codespeed, and drive some discussion on what more we could/would like to see. This is run on my Mac, but it can be served from pythonanywhere I think.

<img width="1413" alt="screen shot 2015-07-28 at 12 34 44 am" src="https://cloud.githubusercontent.com/assets/3167

[2015-07-27 18:15] travs opened #204 "Factor FuXi example into test(s)"
That `FuXi` directory in the top-level of this repo should be refactored into tests.
The readme should be included in the docs if the information isn't already there.

[2015-07-27 21:12] travs commented on #174
Ok that plan definitely makes sense to me too. As for the PyAnywhere side of things, I recently deployed a Flask app to that service with minimal trouble. I used the Flask counterpart to [this django tutorial](https://www.pythonanywhere.com/wiki/DjangoTutorial) to get the wsgi server up and running.

@cheelee Would you be interested in giving the django setup a shot?

[2015-07-28 06:29] kevcmk commented on #174
@travs are you using Flask for the webserver?  Or are you planning on running apache/nginx

[2015-07-28 07:49] cheelee commented on #174
@travs I can take a look. I'll first have to familiarize myself with PyAnywhere, and Django. Shouldn't be more than a few days! Do we have an OpenWorm account set up for PyAnywhere?

[2015-07-28 16:51] travs commented on #174
@kevcmk To be clear here, the Flask app is a separate project, but I used Gunicorn as the webserver in that one locally, so when I pushed it to PythonAnywhere I just kept it (for now). PythonAnywhere can also use uWSGI+nginx to serve up the Flask app directly, so my gunicorn setup is kind of needless.

@cheelee I think that account I showed you a few weeks ago should be the one we use for now. If

[2015-07-28 16:55] cheelee commented on #174
@travs Ah ok. Time Machine to the rescue! If I can't rescue it, I'll let you know! Thanks! Still chugging through that long Django tutorial, but I think I got the gist of what PythonAnywhere will support. I'll soon put codespeed on PythonAnywhere and try it out.

[2015-07-28 20:54] #146 closed

[2015-07-28 20:54] #148 closed

[2015-07-28 20:54] #202 closed

[2015-07-28 20:56] #204 closed

[2015-07-28 20:58] travs commented on #26
This is related to #176 and is fixed by #205

[2015-07-29 03:58] cheelee commented on #174
@gsarma @travs @kevcmk Codespeed with sample data is up and running at my own PythonAnywhere account. You ought to be able to try it at http://cheewai1972.pythonanywhere.com/

Next step is to design a workflow for automatically getting performance data incrementally added to the tool for analysis and an updated display.

[2015-07-29 04:38] kevcmk commented on #174
@cheelee Should we just follow their use case, using codespeed's REST routes to submit the data from Jenkins?  Or do you see any advantages to writing our own inserts.

[2015-07-29 05:49] cheelee commented on #174
@kevcmk I'm not entirely familiar with REST, and not at all with Jenkins. Would you mind giving me a summary off their features and capabilities? We can do this over our private gitter chat, and I can also spend a few hours tonight familiarizing myself with codespeed's relationship with using the REST model, and with Jenkins. My current thoughts are naively using codespeed as a template for creati

[2015-07-29 14:40] travs commented on #174
@cheelee Awesome stuff! :smile:

@kevcmk If I am understanding this correctly, using the builtin REST routes seems like a good idea. I wonder is there a way to submit data from TravisCI rather than Jenkins? I've only ever used the former myself.

[2015-07-29 17:48] travs opened #207 "Test that every Muscle and Neuron object is also a Cell object"
Could use similar code to that by @signija [here](https://github.com/openworm/PyOpenWorm/blob/a40c657b15c5e305682002e1de1d4e2b05f6fe01/tests/DataIntegrityTest.py#L273-L285)

[2015-07-29 17:52] slarson commented on #26
Closed by #206

[2015-07-29 17:52] #26 closed

[2015-07-29 17:53] slarson commented on #176
Closed by #206

[2015-07-29 17:53] #176 closed

[2015-07-29 18:14] slarson commented on #174
@gsarma @cheelee @kevcmk Good stuff -- I've moved this issue under the milestone: ["Make all functions return in 1 second or less"](https://trello.com/c/XOcXjL1m/40-pyopenworm-make-all-functions-return-in-1-second-or-less).

@cheelee @kevcmk I wonder if we can use the functions named in the specific issues  #42, #90, #21 as our first functions in PyOpenWorm to put under performance regression?  Th

[2015-07-29 18:16] slarson opened #208 "Create performance regression tracking for specific select functions"
- [ ] Getting cell connections (#90)
- [ ] Cell morphology query (#21)
- [ ] Neuron().load() (#42)

I wonder if we can use the functions named in the specific issues #42, #90, #21 as our first functions in PyOpenWorm to put under performance regression? This would help move the whole milestone forward as well as giving a specific focus in a lean way to this effort.

[2015-07-29 20:32] travs opened #209 "Add evidenced_by() function that returns evidence associated with a piece of Data"
Right now, to get the evidence associated with an object in the db we have to do something like in the [query_context.py example](https://github.com/openworm/PyOpenWorm/blob/pow-script/examples/query_context.py)
or in [EvidenceCoverageTest.py](https://github.com/openworm/PyOpenWorm/blob/pow-script/tests/EvidenceCoverageTest.py) which are both kind of clunky.

The proposed function would return the

[2015-07-30 16:48] travs opened #210 "Strange, rare error when setting Evidence PMID"
I've only encountered this once, but when I do this:
[code]
I get this error:
[code]
**What?**

From my experience, this *only* happens with this particular PMID, and not with adjacent PMIDs '21177966' or '21177968'.
Also note that using a unicode, raw or regular string as the input doesn't affect this behaviour.

Anyway, the workaround I'm using is to not set the PMID when initializing the Eviden

[2015-07-30 18:58] slarson commented on #210
Looks like line 99 of dataObject.py needs somewhere to have `.encode('UTF-8')` thrown in: https://docs.python.org/2/howto/unicode.html#the-unicode-type

[2015-07-30 19:50] travs opened #211 "Facts cannot be asserted by multiple distinct Evidence objects"
As the API works right now, we can't use distinct Evidence objects to assert the same fact.
The first Evidence object is overwritten it seems.

Some interactive output:

[code]

We can close this issue when we have a fix for this which gives the expected behaviour.
#212  is for a test that catches this.

[2015-07-30 19:53] travs opened #212 "Write test for asserting one fact with multiple pieces of Evidence"
We should be able to do this, but currently cannot, so this will be marked as an expected failure until we have a fix for #211.

See #211.

[2015-07-30 20:28] travs commented on #212
Added and passed [here](https://travis-ci.org/openworm/PyOpenWorm/builds/73447073)

[2015-07-30 20:28] #212 closed

[2015-07-31 05:20] mwatts15 commented on #211
Evidence needs to override the identifier method of `DataObject` to base its identifier on the PMID in order for this to work.

[2015-07-31 08:16] cheelee commented on #208
I can take a look at those while we refine progress on various workflow-related aspects of the performance regression work.

[2015-07-31 08:34] cheelee commented on #208
Just a quick question, are these poor-performing tests currently pushed to the dev branch of PyOpenWorm so I can replicate on my local machine?

[2015-07-31 08:39] cheelee commented on #90
Apologies ... but I cannot seem to find the tests you guys are referring to here. Which file in PyOpenWorm/tests/ is this?

[2015-07-31 08:42] kevcmk commented on #174
@travs Correction -- we'll run the submits from Travis, not Jenkins.  And regarding the REST routes (also @cheelee ) Codespeed has a JSON api (```/result/add/json/```), I'll be sitting down to figure that out in the next couple have days.

@slarson I think that's a good idea.  Chee and I will use those as a benchmark.

[2015-07-31 08:57] cheelee commented on #174
@kevcmk Awesome! Meanwhile, I'm trying to get a handle on those specific tests (e.g. which tests, and how to run just those tests).

We don't really have to limit ourselves to running just those tests since your changes to the testing framework pretty much allows us to get performance profiles on every single one of those tests, but keeping our performance data compact and relevant might be the ri

[2015-07-31 15:56] travs commented on #174
@cheelee to run an individual test you can do (from the project root):
[code]

[2015-07-31 16:04] travs commented on #208
I think there may be some cross-communication here. Stephen is referring to testing the speed of each of the mentioned functions. There may not yet exist tests which just simply run each of these functions on their own.
Since the profiling suite right now operates on tests, it may be useful to write these tests, or incorporate into the profiling suite the ability to load individual functions and t

[2015-07-31 16:06] travs commented on #90
Just to close a loop here for anyone reading, I am addressing @cheelee's question over [here](https://github.com/openworm/PyOpenWorm/issues/208#issuecomment-126735590)

[2015-07-31 18:19] travs commented on #164
@slarson Given the advent of the new connectome, is there any reason to port this over here? We would also have to port over `CElegansNeuronTables.xls` and `NeuronConnectFormatted.xlsx`.

[2015-08-01 02:16] cheelee commented on #174
@travs Thanks! I'll update the README.md documentation if that's not already done.

[2015-08-01 02:21] cheelee commented on #208
@travs gotcha. I'll do a grep for the offending functions in the PyOpenWorm source instead. I had searched the tests folder. It will be helpful to know from the people working on this if the offending functions are currently being exercised in our test code - is there a quick way to perform a static function call-tree discovery in Python? Or an Eclipse-like IDE available (I'm imagining one is)?

[2015-08-01 02:28] cheelee commented on #90
@travs Cool, that should help me remove some potential confusion from my earlier question. I really should have asked - Which test in our tests folder exercise(s) these slow functions? If none exists, could someone please include a test that would exercise them? That way I can run these through our performance profiling calls, and come up with early regression information we will try to get on a d

[2015-08-02 12:20] cheelee commented on #197
This is probably caused by my attempts to install PyOpenWorm over global pip packages. They have gone away once I've restarted this process via virtualenv. Should be safe to close this issue and chalk it up to me being dumb.

[2015-08-02 12:20] #197 closed

[2015-08-02 12:25] cheelee opened #215 "Travis-CI Test Build #447 introduced atexit._run_exitfuncs errors"
I just noticed starting from Build #447 (https://travis-ci.org/openworm/PyOpenWorm/builds/70450878), we've had every test's atexit call fail as follows:

Error in atexit._run_exitfuncs:

Traceback (most recent call last):

  File "/opt/python/2.7.9/lib/python2.7/atexit.py", line 24, in _run_exitfuncs

    func(*targs, **kargs)

  File "./PyOpenWorm/__init__.py", line 114, in disconnect

    if not

[2015-08-03 15:36] travs commented on #215
You're right, this output doesn't seem to affect the passing/failing of tests but something weird is definitely going on. Good catch @cheelee

[2015-08-03 15:54] travs commented on #208
@cheelee I know people praise [pycharm](https://www.jetbrains.com/pycharm/), though I've never used it myself.
As for a visualized call-tree, [this exists](https://pycallgraph.readthedocs.org/en/master/), but I cannot verify how well it works.

For which functions are being used (same order as the original comment by Stephen):

1. `some_neuron.connection.get()` (**not called**)
2. [`some_cell.morp

[2015-08-03 16:01] cheelee commented on #208
@travs Thanks for the links!! I think new test cases for each would work best while we sort out the testing/regression framework. Right now we have a framework that is capable of testing everything we have. A more refined one that can be tasked to test subsets is slightly further away I believe. Personally, I still need to acquaint myself with pytest.

Could someone familiar with the functions ple

[2015-08-03 20:58] travs commented on #187
Closed by #214

[2015-08-03 20:58] #187 closed

[2015-08-03 21:16] travs commented on #208
@cheelee I agree about writing individual tests for each function. I can do this up tonight. Will link the commit here when it's merged.

[2015-08-04 02:03] travs commented on #208
@cheelee Ok, [added those functions](https://github.com/openworm/PyOpenWorm/tree/function-profiling). Note that morphology does not seem to actually be implemented, so we can just go with the other two for now.

[2015-08-04 02:28] travs commented on #211
@mwatts15 Ok, and can we base an identifier on multiple properties? I think we would need to have similar functionality leading to the expected output for many properties of Evidence (`doi`, `pmid`, `wormbaseid` and `uri`, potentially).

[2015-08-04 03:15] cheelee commented on #208
@travs Awesome, will try to put them through their paces later today. Thanks!

[2015-08-04 16:21] travs commented on #215
@kevcmk's #216 seems to fix this (or at least not flood the output with this text). If we can get the test numbers to match up we could potentially close this one.

[2015-08-04 16:50] cheelee commented on #215
Yah, agreed.

[2015-08-04 17:24] cheelee commented on #215
The test numbers match up. py.test is correct and our old test.py ended up generating 77 duplicate tests, whilst missing 12 tests that py.test caught. This is good. Thanks for the great feedback @travs and the awesome job using py.test @kevcmk . I'm closing this issue, and I think we can make that pull request merge official.

[2015-08-04 17:24] #215 closed

[2015-08-04 17:32] cheelee opened #217 "Document use of updated testing infrastructure via pytest"
Make necessary changes to our READMEs to reflect changes to how tests are run with these new changes.

[2015-08-04 17:42] travs commented on #215
@cheelee Awesome! Thanks for looking into this :)

[2015-08-05 06:26] cheelee opened #218 "Did something change in the PyOpenWorm database?"
The last change to the code was 17 hours ago, and was tested prior to the last pull-request getting merged. Somehow that has changed and we now get errors, so I'm wondering if something has changed with the data the tests accessed (over a database connection?)

This gist details the errors. It is the same index-out-of-bounds error (an attempt to add an edge to the graph in g.add_edge) from two dif

[2015-08-05 07:27] cheelee commented on #217
I've committed the fixes in my own fork. Awaiting resolution of issue #218 before I make that pull request.

[2015-08-05 07:29] cheelee opened #219 "Missing "requests" dependency in setup.py"
This is just documenting the issue. I have already fixed this in my fork, and am awaiting resolution of issue #218 before I make a pull-request of it.

[2015-08-05 08:36] cheelee commented on #208
@travs Just a quick update: I've patched in your new tests into a sandboxed version of the dev branch on my local machine, and they have been run using the py.test framework with the basic output captured in this gist: https://gist.github.com/cheelee/9a9a1fce712bcf786118

It is taking around 10 seconds for synapses and 2 seconds for neurons.

I'm currently waiting to hear back from @kevcmk because

[2015-08-05 09:07] cheelee commented on #208
Ok, this is clunky and I'm not sure how initially useful this will be, but this is the breakdown of the most expensive function calls made by any Python module. "Tottime" refers to all of the time spent inside a function's code segment. "Cumutime" refers to all the time spent inside a function's code segment AND any time spent by the child functions it invokes. Anyway, the goal here is to get peop

[2015-08-05 15:32] travs opened #221 "Test for as_networkx"
See @cheelee's observations in #218 .

This was caused by changes [over here](https://github.com/openworm/data-viz/commit/947419bd237c2ec0b0eeb207de6d918108a6abf3).

The test can assert that calling the function doesn't give an exception like that seen in #218

[2015-08-05 15:32] travs commented on #218
@cheelee Thank you; this is a valuable catch, and highlights a lack of coverage for the function(s) being called. Luckily you caught this locally before we had a mysteriously failing build.
Right now it just seems like `as_networkx()`is not being covered, since it's throwing an error and not a failed test, which is much harder to diagnose.

This error was caused by changes [over here](https://gith

[2015-08-05 19:05] travs opened #222 "Change as_networkx to pull from connectome.csv in this repo, not dataviz"
Related:
#218 #221

[2015-08-05 19:09] slarson commented on #222
See these files for where the path appears to be that needs changing:

https://github.com/openworm/PyOpenWorm/blob/15225aae39b2003ddf0ad1ddf10a8cd9d663167f/OpenWormData/scripts/default.conf
https://github.com/openworm/PyOpenWorm/blob/15225aae39b2003ddf0ad1ddf10a8cd9d663167f/PyOpenWorm/default.conf
https://github.com/openworm/PyOpenWorm/blob/15225aae39b2003ddf0ad1ddf10a8cd9d663167f/tests/test.conf

[2015-08-05 20:37] travs commented on #221
Ok, this is actually being tested over [here](https://github.com/openworm/PyOpenWorm/blob/15225aae39b2003ddf0ad1ddf10a8cd9d663167f/tests/test.py#L460). Added some descriptions.

[2015-08-05 20:37] #221 closed

[2015-08-05 20:53] travs commented on #218
Fixed by #223

[2015-08-05 20:53] #218 closed

[2015-08-05 20:54] travs commented on #222
Fixed by #223

[2015-08-05 20:54] #222 closed

[2015-08-05 21:03] travs commented on #217
Fixed by https://github.com/openworm/PyOpenWorm/pull/220

[2015-08-05 21:03] #217 closed

[2015-08-05 21:03] travs commented on #219
Fixed by https://github.com/openworm/PyOpenWorm/pull/220

[2015-08-05 21:03] #219 closed

[2015-08-06 00:51] travs commented on #164
Given the amount of tests that grew out of the connectome comparison by @aribrich, we have a lot of coverage for the network in PyOpenWorm.

We are moving to a new connectome, so we can leave that script outside PyOpenWorm, since it deals with the connectome versions we are actually moving away from.

[2015-08-06 00:51] #164 closed

[2015-08-06 14:35] travs commented on #208
@cheelee Thank you for this. After looking through those data it is apparent that we may need some way to profile those functions without wrapping them in test calls. I cannot find the original `synapses` call in the synapses outputs, so maybe if we do something like `cProfile.run('net.synapses()')` it will be a bit easier to know what is going on.

What you say [here](https://github.com/openworm/

[2015-08-07 05:30] kevcmk commented on #208
When we store the FunctionProfile object, we can instead seek out the actual function we're concerned with, as opposed to the test_* function

There are potentially a few ways to do this, two of which are: parsing the tests' name, decorating the test with a wrapper that takes a string argument of the function in mind

[2015-08-07 07:30] cheelee commented on #208
@travs @kevcmk In the performance profiles I've captured, I had also filtered out anything that did not include "PyOpenWorm" in its path string. The idea there was to only identify costly function calls that we are likely to have control over. It may well be necessary to figure out the costs of functions from associated library calls external to our packages. I can quickly generate output includin

[2015-08-10 22:00] travs opened #227 "Add ability to import from ChannelWorm graph"
After we add data from ChannelWorm for the first time, we will need some way to get that serialized data into PyOpenWorm, via `insert_worm.py`.

The data will be in `aux_data` as an n3 file.

[2015-08-12 17:47] travs opened #228 "Remove expectedfailure from test_all_neurons_are_cells"
When #178 is done, remove it and close this one.

related: #226

[2015-08-12 17:48] travs commented on #178
Do #228 when this one is done.

[2015-08-12 17:50] travs commented on #207
:boom: :boom:
Closed by #226 @signija

[2015-08-12 17:50] #207 closed

[2015-08-13 17:48] travs commented on #178
@signija Would you be interested in trying to fix this one? It is related to the test you wrote in #226

[2015-08-13 17:56] signija commented on #178
Yeah, definitely! Just finished with #201 so I'll get started on this.

[2015-08-13 20:48] travs commented on #201
Closed by @signija in #229

[2015-08-13 20:48] #201 closed

[2015-08-13 20:51] travs commented on #178
@signija Sweet! Let me know if you run into any roadblocks!

[2015-08-14 13:14] signija commented on #178
@travs What I've done so far is replace the code for net.neurons() so that it returns Neuron objects. This broke some other things (doctests and a NetworkTest, written with string return value in mind). In order to fix it, I tried writing another function net.neuronslist() that basically has the code of the previous function, so that we could use either one, depending on what we need. And here is

[2015-08-14 13:48] cheelee commented on #208
I'm slowly starting to believe what we need to close this issue is not performance regression per se, but a decent way to conduct performance analysis for the "offending" test functions. We need to figure out:

1. if those tests really ought to take as long as they do - for that, we'll need domain experts who are familiar with the work that gets done in those tests, and to identify specific functi

[2015-08-14 15:27] kevcmk commented on #208
That looks awesome.  I think we should consider looking into that code to find a way to generate that chart and upload it from Travis.

[2015-08-14 15:54] cheelee commented on #208
@kevcmk It is possible we may not need to do it at test-time. All RunSnakeRun needs is a valid cProfile profile, and it might just be we'd want to use it as an interactive analysis tool to figure out any performance problems outside of the testing/regression framework. It probably does not hurt however, to have Travis-CI generate a top-level image using RunSnakeRun to give an initial overview. Her

[2015-08-14 20:50] slarson opened #230 "Remove print_evidence method from insert_worm.py"
Currently this method isn't really doing anything

[2015-08-14 20:56] slarson opened #231 "Change data source for upload_receptors_and_innexins in insert_worm.py"
In order to be able to have direct references, we need to modify this.

Source for neurotransmitters should fall back to: http://www.ncbi.nlm.nih.gov/books/NBK20175/

In addition [this post](https://groups.google.com/forum/#!topic/openworm-discuss/G9wKoR8N-l0) talks about the process of inferring neurotransmitters and neuroreceptors using prolog code.

Source for neuroreceptors / neuropeptides sti

[2015-08-14 21:13] slarson opened #232 "Convert neurotransmitter table from C Elegans 2 into csv & add to repo"
Here's the table:

http://www.ncbi.nlm.nih.gov/books/NBK20175/

We should include comment that points to this book as well and includes a full citation.

[2015-08-14 21:14] slarson opened #233 "Add new neurotransmitter table into db via insert_worm.py"
Take neurotransmitter table from #232 and incorporate into insert_worm.py per changing data sources as described in #231

[2015-08-14 21:17] slarson opened #234 "Incorporate prolog inference code into insert_worm.py"
Prolog inference code has been created to fill in gaps of unknown neurotransmitters and neuroreceptors for each neuron.  Let's run this when we run insert_worm.py and put it into the database as well.

[2015-08-14 21:22] slarson opened #235 "Re-incorporate WormAtlas data"
We want a more verifiable way to point to the information coming out of WormAtlas than what we have had.  Right now our tables just blindly point at WormAtlas.

Information we want:

* another source of neuroreceptors
* another source of neurotransmitters

A few challenges exist:

* so far, we can get information only on each [individual page per neuron](http://www.wormatlas.org/neurons/Individual

[2015-08-14 21:26] slarson opened #236 "Verify neuron type source"
Currently our neuron types are cited as coming out of [this spreadsheet](https://docs.google.com/spreadsheets/d/1Jc9pOJAce8DdcgkTgkUXafhsBQdrer2Y47zrHsxlqWg/edit#gid=2) which in turn cites wormatlas broadly.  We need to drill down and see where the original source of that type is.  Good chance it is also on each individual neuron page in WormAtlas.

Once this is done, we should modify the data sou

[2015-08-14 21:46] slarson opened #237 "Remove any data files that are not being used"

[2015-08-15 19:28] mwatts15 commented on #178
`Network.neuron()` will already return a sequence of Neuron objects. `Network.neurons()` was intended specifically to return neuron names, or at least to return something that showed all of the neuron names.

[2015-08-15 22:02] signija commented on #178
As far as I can see from the issues that caused this one, this may have been a mistake based on the fact that the [API](https://pyopenworm.readthedocs.org/en/latest/api.html#PyOpenWorm.Network) is not very clear on this: `Network.neurons()` is supposed to "get the complete set of neurons in this network"; so I'm assuming the documentation is the problem here as well.

Personally, I didn't realise

[2015-08-16 01:02] slarson commented on #178
@signija Yes Improving the API would be welcome here :) Everybody having a look and deciding if it is clear and adapting it to be so is greatly appreciated.

[2015-08-16 01:15] mwatts15 commented on #178
Yes, it should be better documented. Since `Property` objects aren't attached through assignment as is typical in Python, a "Pythonic" way to document them was not clear to me at design time. For now, adding something to the class documentation as in the `Evidence` class should be sufficient.

Adapting `Property` to use the [descriptor protocol](https://docs.python.org/2/howto/descriptor.html) wou

[2015-08-16 15:36] kevcmk commented on #208
This sounds good.  I'm e-meeting Stephen tomorrow late night to figure out the Travis statuses.

[2015-08-16 21:55] slarson opened #239 "Add BIBTEX entries to insert_worm.py for Evidence from data sources"
Our data sources are listed in docs/data_sources.rst.  These data sources should be included as bibtex & evidence in insert_worm.py

[2015-08-16 22:53] slarson commented on #235
Here are the steps we need to do this:

1. dump the contents of [celegans.db](https://github.com/openworm/PyOpenWorm/blob/master/OpenWormData/aux_data/celegans.db) into a new sheet in [this spreadsheet](https://docs.google.com/spreadsheets/d/1Jc9pOJAce8DdcgkTgkUXafhsBQdrer2Y47zrHsxlqWg/edit#gid=537482241).  Use the same columns from the spreadsheet.
2. Filter the contents to only look at the neuro

[2015-08-17 21:04] travs commented on #178
Ok, the descriptor protocol looks interesting.
I think we can agree that `neuron` and `neurons` are too similarly named to have different behaviours. It seems reasonable to change the name of the function `neurons`, which returns neuron names, to be `neuron_names`, `get_neuron_names`, or something similar.

I think that providing descriptions in the class docstring is clear enough as a practice, i

[2015-08-18 16:31] travs commented on #239
Ok, I assumed I could just add bibtex entries like pmid. Looking into it further, this feature doesn't seem to be implemented.

[Skipped test 1](https://github.com/openworm/PyOpenWorm/blob/15225aae39b2003ddf0ad1ddf10a8cd9d663167f/tests/integration_test.py#L14)
[Skipped test 2](https://github.com/openworm/PyOpenWorm/blob/15225aae39b2003ddf0ad1ddf10a8cd9d663167f/tests/test.py#L464)

Also, the [docst

[2015-08-18 16:36] travs opened #245 "Implement bibtex field for Evidence object"
Not sure if we should have the parser built into the Evidence object, or if we should just be able to give the `Evidence.bibtex` field a string like we do for `Evidence.pmid`.

Looks like the beginnings of this are [here](https://github.com/openworm/PyOpenWorm/blob/15225aae39b2003ddf0ad1ddf10a8cd9d663167f/PyOpenWorm/evidence.py#L274-L275), but as it is now, this is what we get:

[code]

[2015-08-18 16:37] travs commented on #239
For now, I will save the bibtex entries in a text file on that `sources` branch, so we don't have to go looking for them later on.

[2015-08-18 16:54] travs commented on #178
Closed by  https://github.com/openworm/PyOpenWorm/pull/244

[2015-08-18 16:54] #178 closed

[2015-08-18 16:59] signija commented on #228
Solved by #241 .

[2015-08-18 17:18] #228 closed

[2015-08-18 17:25] travs opened #247 "Investigate opening multiple read connections to PyOpenWorm's database"
Not sure offhand how to go about this, but it's important for https://github.com/joebowen/model_completion_dashboard/issues/7.

Using PyOpenWorm as the backend for the model completion dashboard would benefit from something like this.

@joebowen

[2015-08-18 17:27] travs opened #248 "Add muscle_names method"
Similar to `neuron_names` method we have implemented.

[2015-08-18 18:23] signija opened #249 "Evidence.py/ElementTree.py error"
When running a file with the following code:

[code]

I mostly get this:

[code]

I'm not sure if it's a problem on my side, but the thing is, the error doesn't _always_ appear. The whole thing just decides to occasionally pass once in a (very long) while (no changes whatsoever to the code being run).

[2015-08-18 20:42] travs commented on #249
Related to #210

[2015-08-19 00:27] mwatts15 commented on #249
Closing this as a duplicate of #210 .

[2015-08-19 00:36] mwatts15 commented on #210
@slarson Good suggestion.
@signija Please, have a look at my pull request #250.

[2015-08-19 09:48] signija commented on #249
Considering the errors in this one and #210 are different, was it a duplicate?

[2015-08-19 18:51] signija commented on #210
@mwatts15 Messaged you about it. As far as I can tell, the solution would be doing `u"Frédéric MY".encode('UTF-8')` for the first argument instead of only `u"Frédéric MY"`, and then the build should pass. I just don't know exactly why, I was trying out things to figure out what was happening, and I found out that's what it's doing.

[2015-08-20 16:33] travs commented on #249
@mwatts15 So should PR #250 fix this as well?

[2015-08-20 16:38] travs commented on #166
@slarson Closing this one since we have the new WormBase cell list. Please reopen if you think this is still distinct from what is happening in #177

[2015-08-20 16:38] #166 closed

[2015-08-20 23:47] mwatts15 commented on #249
Hmm, looking again, it was premature to mark as a duplicate.
@signija can you try #250? Also, have you tried with other PMIDs? If this only happens periodically, it probably has to do with the call to Pubmed for the authors list. If that's failing, the solution is probably better error reporting.

[2015-08-21 10:09] signija commented on #249
@mwatts15 Yeah, it does that with all PMIDs. This is what happens most of the time, it's very rarely that it didn't show me this error and I could actually debug it for the issue in #210 . When it works, it's always temporary, for a couple of runs only, and then it goes back to this error.

[2015-08-22 01:04] mwatts15 commented on #249
It's almost definitely an Internet connection issue. When I cut off my wifi, I get the same thing. PyOpenWorm/evidence.py:273: in __init__
    self._pubmed_extract()
PyOpenWorm/evidence.py:374: in _pubmed_extract
    data, tree = pmRequest(pmid)
PyOpenWorm/evidence.py:367: in pmRequest
    return s, ET.parse(s)
/usr/lib/python2.7/xml/etree/ElementTree.py:1182: in parse
    tree.parse(source, parse

[2015-08-22 16:59] slarson commented on #235
This query will provide the dump we are looking for:

"""
select R.EnID1, E1.Entity AS Entity1, R.Relation, E3.Entity AS Relationship, R.EnID2, E2.Entity AS Entity2
from tblrelationship AS R
INNER JOIN tblentity AS E1 ON R.EnID1=E1.ID
INNER JOIN tblentity AS E2 ON R.EnID2=E2.ID
INNER JOIN tblentity AS E3 ON R.Relation=E3.ID where E3.ID!='1516' AND E3.ID!='356' AND E3.ID!='357' AND E3.ID!='1515'
""

[2015-08-22 21:12] slarson commented on #235
[Partial start to this new csv file](https://github.com/openworm/PyOpenWorm/blob/reworking-references-and-sources/OpenWormData/aux_data/Modified%20celegans%20db%20dump.csv).  Google spreadsheet version is [here](https://docs.google.com/spreadsheets/d/1Jc9pOJAce8DdcgkTgkUXafhsBQdrer2Y47zrHsxlqWg/edit#gid=317179515).

[2015-08-23 23:27] ahrasheed commented on #168
@travs @slarson

I have generated a [PR](https://github.com/openworm/PyOpenWorm/pull/252) to **dev** branch for updating [insert_worm.py](https://github.com/openworm/PyOpenWorm/blob/new_connectome/OpenWormData/scripts/insert_worm.py) to utilize latest data sources, i.e. [new connectome](https://github.com/openworm/PyOpenWorm/blob/new_connectome/OpenWormData/aux_data/herm_full_edgelist.csv) and [wo

[2015-08-23 23:43] ahrasheed commented on #163
@slarson @travs @signija

Please check the update to #168

Using the new connectome following connection numbers apply for creating data integrity tests:

- Total number of neurons: **302**
- Total number of muscles: **144**
- Total number of neuron to neuron connections: **5805**
- Total number of neuron to muscle connections: **1111**
- Total number of unique neurons making connections in the ne

[2015-08-24 06:36] slarson opened #253 "Make Network.as_networkx() pull from DB"
Right now, Network.as_networkx() is being initialized [directly out of a csv file](https://github.com/openworm/PyOpenWorm/blob/dev/PyOpenWorm/data.py#L344), which skips the entire DB.  Instead, we should make a networkx object by querying the DB and packaging it into a networkx object.

- [ ] Move the _init_networkx method out of PyOpenWorm/data.py into PyOpenWorm/network.py
- [ ] Add a query in `

[2015-08-24 09:59] slarson opened #254 "Add API support for displaying all evidence for a dataObject"
A dataObject such as a neuron may have a variety of properties.  Currently, in order to look up what evidence is associated with a given object, you will have to ask for each property in turn, and look up if there is evidence associated with that property.

If dataObjects supported a .get_evidence() method that took all properties registered with that dataObject and returned a list of evidence ass

[2015-08-24 10:09] slarson commented on #233
not necessary due to data already being in WormAtlas.  Being addressed by #235

[2015-08-24 10:09] #233 closed

[2015-08-24 10:09] slarson commented on #232
not necessary due to data already being in WormAtlas.  Being addressed by #235

[2015-08-24 10:09] #232 closed

[2015-08-24 11:28] slarson opened #256 "Fill in missing neurotransmitters"
not all neurotransmitters are filled in anymore after #235.  We need to either reincorporate them directly into the [modified celegans db dump](https://github.com/openworm/PyOpenWorm/blob/reworking-references-and-sources/OpenWormData/aux_data/Modified%20celegans%20db%20dump.csv) or we should do #234 and re-infer the missing ones

[2015-08-24 11:32] slarson opened #257 "Create DataIntegrity test to check all neurons have a neurotransmitter"
Not all neurons have known neurotransmitters, but we can infer them.  We should have a test that tells us that we are missing neurotransmitters so we know to fill them back in.

relates to #256

[2015-08-24 11:35] #235 closed

[2015-08-24 11:36] #236 closed

[2015-08-24 11:36] #167 closed

[2015-08-24 11:36] #231 closed

[2015-10-09 23:10] walkel3 opened #263 "Problem installing PyOpenWorm on Windows"
Using c:\python27\lib\site-packages\six-1.9.0-py2.7.egg
Finished processing dependencies for PyOpenWorm==0.5.3
Running post-install script(s)
Running insert_worm.py as UID 0
Traceback (most recent call last):
  File "post_install.py", line 23, in <module>
    pid = os.fork()
AttributeError: 'module' object has no attribute 'fork'

[2015-10-10 15:23] mwatts15 commented on #263
@travs You should probably have a look.

[2015-10-16 00:47] jamiemori opened #264 "Problem installing pyopenworm using pip install inside a docker image"
I have trouble pip installing pyopenworm inside a docker image.
Here's the image on dockerhub: https://hub.docker.com/r/jamiemori/openworm_test/
Here's what I did and the errors pip throws:

[code]
As a comparison, here is what installing matlplotlib using pip was like:
[code]

[2015-10-16 00:55] slarson commented on #264
Question: I notice that this particular output is cancelled by the user during `Running setup.py install for pyopenworm`.

Can you let it run all the way to the end so we can see what ends up failing at the end?

[2015-10-16 08:39] jamiemori commented on #264
This is the rest of the installation process:

[code]

I probably did something incorrectly when I tried initially, but it seems like it's working fine.  I fired up Python and ran some quick start commands:
[code]

Not sure about the errors during installation though.

[2015-10-16 13:31] #264 closed

[2015-10-16 13:32] slarson commented on #264
Ok!  Well at least it installs.  It is understandable that it looked bad -- those error messages are scary looking.  They seem to relate to building wheels, which are not strictly necessary to install the code.

[2015-11-15 17:36] slarson commented on #263
[This stackoverflow answer](https://stackoverflow.com/questions/17300551/how-to-run-python-script-with-os-fork-on-windows) provides a good perspective on what's going wrong here.

[2015-11-22 17:19] slarson opened #265 "Fix test failures in pull request #262"
Trying to integrate #262 into the dev branch.  We are running into the following test failures:

* [DataIntegrityTest.test_neuron_GJ_degree()](https://github.com/openworm/PyOpenWorm/blob/merge-mwatts15-with-new-connectome/tests/DataIntegrityTest.py#L134) returns the wrong value
* [DataIntegrityTest.test_neuron_Syn_degree()](https://github.com/openworm/PyOpenWorm/blob/merge-mwatts15-with-new-connec

[2015-11-22 17:39] slarson opened #266 "Make generating c302 from PyOpenWorm work in the OpenWorm Docker image"
We currently have a start on a [docker image that contains PyOpenWorm](https://www.docker.com/).

Inside that image is the [dev version of the master_openworm.py script](https://github.com/openworm/OpenWorm/blob/development/master_openworm.py#L14)

The first step of this script is to generate [c302](https://github.com/openworm/CElegansNeuroML/tree/master/CElegans/pythonScripts/c302) from the lates

[2015-11-22 17:47] slarson commented on #163
My understanding is that this is completed and we just need to complete #265 to fix final bugs and integrate it into the dev branch.

[2015-11-23 16:35] pgleeson commented on #266
As mentioned in the issues above, https://github.com/openworm/PyOpenWorm/issues/177 is the key to updating c302 to use PyOpenWorm...

[2015-11-29 18:25] perfortnight commented on #266
:point_up: [November 29, 2015 9:43 AM](https://gitter.im/openworm/PyOpenWorm?at=565b394149fc2afe4a4fa52f)

Conversation specifying more details about this ticket.

[2015-12-06 17:41] slarson opened #267 "Fix muscle innervation test in the README doc tests"
This test was taken out of the readme to get a build to work, but needs to be put back in

[2015-12-06 18:09] slarson commented on #265
Just merged #262 so this is closed

[2015-12-06 18:09] #265 closed

[2015-12-18 18:53] slarson commented on #177
@pgleeson Check out [the latest](https://github.com/openworm/PyOpenWorm/blob/634743d9cf2990b748f9a94af82aab34fa1699f4/docs/data_sources.rst).  I've fleshed it out considerably.  I don't know what kind of standard you are looking for in terms of "discussion of labs involved".  Could you give an example in the context of what's there now?

[2015-12-22 17:39] slarson opened #270 "Make pip complain if you try to install with python3"
PyOpenWorm isnt python 3 compatible yet.  People installing with it won't know this and it will look broken

[2015-12-22 17:42] MarcoDev200 commented on #270
Full error message from my experience

Collecting wsgiref==0.1.2 (from pyopenworm)
  Downloading wsgiref-0.1.2.zip
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 20, in <module>
      File "C:\Users\Marco\AppData\Local\Temp\pip-build-9xmj79iu\wsgiref\setup.py", line 5, in <module>
        import ez_setup
      File "C:\

[2016-01-07 15:15] pgleeson commented on #177
@slarson That's certainly more like what's needed. It would be great to:

- [ ] get this page on (or at least more visible on) the main docs site, e.g. prominently on http://docs.openworm.org/en/0.9/Projects/datarep/
- [ ] link to this from the page for scientists:  http://www.openworm.org/science.html

See https://github.com/openworm/CElegansNeuroML/issues/49 for discussion on using the new conne

[2016-01-14 05:43] jni commented on #270
Why is wsgiref included at all? It appears to be part of the Python stdlib?

At any rate, sorry for the trolling, but I would hope that Python 3 support itself would be in the pipeline? I wanted to include a reference to PyOpenWorm in Elegant SciPy but we are writing it for Python 3 only...

[2016-01-15 04:00] mwatts15 commented on #270
@jni Just to track the history of interest in porting to python3, this was first mentioned more than a year ago in #66, but hasn't been updated since then.

[2016-01-15 04:17] jni commented on #270
Ah, sorry, I had a quick scan of the issues before posting, but missed that one. And this one actually described the exact problem I'd come across before coming to this repo. =)

[2016-01-15 04:18] jni commented on #270
If someone tells me why wsgiref is being pip-installed (rather than using the stdlib), I can try to take a stab at porting...

[2016-01-17 22:27] #230 closed

[2016-01-18 00:03] slarson commented on #177
OK, great!  Closing this one for now.  Those suggestions have been moved into issues on their own repos over here:

https://github.com/openworm/org.openworm.website/issues/60 https://github.com/openworm/openworm_docs/issues/37

[2016-01-18 00:03] #177 closed

[2016-01-18 00:04] slarson commented on #266
OK now that #177 is done, let's see if we can make more progress.  @perfortnight ; any updates?

[2016-01-19 04:38] perfortnight commented on #266
No.  I've been away.
But on that note, the docker image I have (openworm_test) does not appear to have the file structure that the https://github.com/openworm/OpenWorm/blob/development/master_openworm.py file expects.  For example, there is no /home/openworm directory.

Is this the right docker image to be working with?  Are there necessary installations to make before it is ready to work with?  I

[2016-01-29 15:55] slarson commented on #90
This issue is back in the spotlight since we have moved much of the past stuff into master.  If folks can refresh memories on what would be the best path forward ( @mwatts15 perhaps?) then we can get organized around solving it.

[2016-01-30 05:41] cheelee commented on #90
I'm looking at slowly easing myself back into this again. Been trying out the instructions for getting started with PyOpenWorm again, but I think they might be dated - I cannot appear to find "PyOpenWorm.loadData" in the root folder as specified in the examples/README.md instructions for setting up the git database, for example.

[2016-01-31 19:08] slarson commented on #266
@perfortnight ok try again; you are right; the image didn't seem to have that stuff.  I have pushed a new version; this time it should work

[2016-02-07 00:28] slarson opened #273 "Consider integration with WikiData"
They are reaching out to open data organizations to share data:

https://www.wikidata.org/wiki/Wikidata:Wiki_Loves_Open_Data

We could probably have an interesting integration where we pull our PyOpenWorm graph out of WikiData and use it as the authoritative store, rather than keeping it [here](https://github.com/openworm/PyOpenWorm/tree/master/OpenWormData/aux_data).  There would definitely be so

[2016-03-03 02:11] mwatts15 commented on #90
So, this is a road that, at least personally, I've been down before, but the branch "dev+issue-90" attempts to address this issue by using a less bizarre scheme for re-ifying statements. It's maybe a hard pill to swallow because it makes new code incompatible with existing data generated by PyOpenWorm, but there's really no way to support the current scheme with existing tools.

[2016-03-14 11:50] pgleeson opened #274 "Compare info on neurotransmitters"
There is information on the neurotransmitters in each C elegans neuron here:

[A cellular and regulatory map of the cholinergic nervous system of C. elegans](http://elifesciences.org/content/4/e12432v2)

This should be compared with the data on neurotransmitters in the [latest connectome data files](https://github.com/openworm/PyOpenWorm/tree/master/OpenWormData/aux_data), and our info updated as

[2016-03-14 21:51] slarson commented on #274
Great catch.  John White also just pointed us at this paper.

Direct links:

[Table from the reference](http://elifesciences.org/content/4/e12432v2#tbl1)
[Dynamic spreadsheet containing OpenWorm neurotransmitter info](https://docs.google.com/spreadsheets/d/1Jc9pOJAce8DdcgkTgkUXafhsBQdrer2Y47zrHsxlqWg/edit)

See more on the process of how spreadsheets get turned into database info [here](https://py

[2016-03-20 16:57] mwatts15 commented on #168
@ahrasheed: After #252, the DataIntegrityTests are the only thing missing to close this ticket?

[2016-03-21 03:22] mwatts15 commented on #247
It looks like what it would take is to define your own source. Based off of ZODBSource, you'd want something like this (untested):
[code]

[2016-03-21 03:39] mwatts15 commented on #163
@signija Are you still the primary on this ticket? Is this one awaiting review? All of the tests listed by @ahrasheed are in DataIntegrityTests, although:
[code]
Doesn't match. The number of muscles is compared against 158 since aa8ebdf064ea.

[2016-03-23 04:30] mwatts15 commented on #168
The new data causes failure in `test_correct_number_unique_neurons` and `test_correct_connections_number` due to the extra connections alluded to above. Unless there's a compelling reason for adding these connections to the "neuron_network", it's probably better to make new connections list which includes both the neuronal net and these additional connections, like a 'cell_connections' property, b

[2016-04-08 20:42] slarson commented on #273
http://www.biorxiv.org/content/early/2015/11/16/031971.abstract

[2016-05-15 23:21] mwatts15 opened #280 "Extract remote resource info elaboration in evidence constructor"
Currently, an Evidence object pulls data from wormbase.org, the PubMed API, and the Crossref Metadata Search in it's constructor. Given that Evidence objects are not immutable, it should be possible to invoke this behavior after the construction phase.

[2016-05-15 23:22] mwatts15 commented on #210
Fixed by PR #279.

[2016-05-15 23:22] #210 closed

[2016-06-04 13:58] signija commented on #163
I've lost track of this issue. Where are we standing on this right now? @mwatts15 @slarson

[2017-01-10 18:28] clbarnes commented on #274
There is also new expression data in this paper: http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005283

The machine-readable versions are in the
[S1 Dataset](http://journals.plos.org/ploscompbiol/article/file?type=supplementary&id=info:doi/10.1371/journal.pcbi.1005283.s004).

[2017-01-10 18:39] clbarnes opened #281 "Method to get potential extrasynaptic connectivity"
As used in this paper [here](http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005283). The machine-readable receptor mappings and so on are in the [S1 Dataset](http://journals.plos.org/ploscompbiol/article/file?type=supplementary&id=info:doi/10.1371/journal.pcbi.1005283.s004): the paper also includes some new expression data, so I've added it to issue #274.

It would be valua

[2017-01-28 22:11] mwatts15 commented on #66
Working on this now. I'll keep compat with 2.7 where possible.

[2017-01-29 01:29] mwatts15 commented on #281
@clbarnes Could you elaborate on what the extrasynaptic connectivity matrix would look like? It sounds like it would be another set of 1-to-1, unidirectional connections between neurons like the existing synaptic connections in PyOpenWorm-- is that accurate? When you suggest constructing the matrix dynamically though, it sounds like you'd want to store some data that generates the matrix and I'm h

[2017-01-29 03:36] mwatts15 commented on #168
The referenced data source has been added and the docs/data_sources.rst file at the latest revision references the source file and it's origin in a personal communication from S. Cook.

However, checking the Evidence, the data was not going into the database. Fix coming directly.

[2017-01-29 03:57] mwatts15 commented on #168
Okay, we can close this ticket now.

[2017-01-29 03:57] #168 closed

[2017-01-29 04:12] mwatts15 commented on #163
@signija all of the data is there, and the tests are passing, so I'm closing this one.
Thanks everyone for your work on this.

[2017-01-29 04:12] #163 closed

[2017-01-30 02:22] mwatts15 commented on #66
Port to Python 3 is done and merged into dev.

[2017-01-30 02:25] #66 closed

[2017-01-30 02:34] mwatts15 commented on #270
Python 3 is supported now.

[2017-01-30 02:34] #270 closed

[2017-01-30 02:57] mwatts15 opened #283 "Add eLife 2015;4:e12432 info"
There is a report of regulatory data for C. elegans here:
eLife 2015;4:e12432
http://elifesciences.org/content/4/e12432v2
doi: http://dx.doi.org/10.7554/eLife.12432

This goal is to *add* the data to the PyOpenWorm data set using the insert_worm.py script and attach Evidence to each of the statements including the above DOI, one or more URIs, authors, title, and publication date. Any other data th

[2017-01-30 03:11] mwatts15 opened #284 "Add 10.1371/journal.pcbi.1005283"
Add neurotransmitter expression info to insert_worm.py and attach Evidence with the author, title, DOI (below) and one or more URLs. Any other info available for the Evidence is desired.

Machine readable data is attached to the document on the web and is available here: http://journals.plos.org/ploscompbiol/article/file?type=supplementary&id=info:doi/10.1371/journal.pcbi.1005283.s004
DOI: 10.1371

[2017-02-01 03:42] mwatts15 commented on #267
To do this as written, requires to
1) add `muscle.neurons` (aliased to innervatedBy) relationships in addition to the existing `Connection`s with muscle termination, or
2) write a property that does the query on `Connection`s. This is essentially `Neighbor` in `PyOpenWorm.neuron`. Could even move neighbor up into cell.

[2017-02-01 04:29] mwatts15 commented on #263
The reason for the `fork` isn't valid since the process doesn't have to be called asynchronously.

[2017-02-01 04:55] mwatts15 commented on #245
IIRC, conversation with @slarson concluded the bibtex argument was intended to be a source for the evidence i.e., you submit the content of a BibTeX entry as a string and then we fill in `Evidence` fields (e.g., author, title, year). So there wouldn't be a property 'Evidence.bibtex' to get Evidence from.

The syntax could be something like `Evidence.from_bibtex('@BOOK{strunk-and-white, author = ..

[2017-02-01 05:06] mwatts15 commented on #249
We can close this with a clear warning-level log message to the effect of "Could not retrieve data from PubMed". As for moving the retrieval of to another method, this work can be done independently and either this ticket or #280 can merge without much trouble.

[2017-02-01 05:16] mwatts15 commented on #234
See this [file](https://github.com/openworm/PyOpenWorm/blob/master/OpenWormData/scripts/neurons_nt_nr.pl) for where this work has been started.

[2017-02-01 05:20] mwatts15 commented on #234
@slarson is it possible we could use N3 for this? What is the advantage of adding this prolog code?

[2017-02-02 20:50] slarson commented on #273
@mwatts15 asked:

Are you thinking of WikiData purely as a database for the same data
that's currently written out to a file with PyOpenWorm, or are you
thinking of taking advantage of it's function as a single source for
diverse data? In the second case, would you expect PyOpenWorm to also
act as an interface to these other data, and, if so, in what way?

I think it would be great to share our da

[2017-02-02 20:53] slarson commented on #234
@mwatts15 If we switch to n3 for this; we'll need to port the Prolog script that is there.  That particular script was built to do something pretty specific; so it will be a job to itself to port it and guarantee that it works the same.  But if someone wants to do it that way, I'm not married to Prolog :)

[2017-02-02 21:08] clbarnes commented on #281
Sorry I missed this, but to reiterate what I said in my email so that it's out in the open:

We currently have access to:
- which neurons express particular monoamines or neuropeptides
- which neurons express particular monoamine or neuropeptide receptors

I don't think we currently do, but could very easily, store
- transmitter-receptor mappings (trivial in the case of monoamines but many-to-many

[2017-02-03 22:43] mwatts15 commented on #234
Yes, my main thought is that adding prolog to PyOpenWorm is going to increase the dependencies and maintenance overhead. If the script could be ported to n3 it would fit into the existing inference step in insert_worm.py. A pure Python translation would be good too.

[2017-02-03 23:08] clbarnes commented on #234
I think problog does everything prolog does and has a python API. In particular, the facts should definitely be generated dynamically from the database so that changes to the connectome and expression data doesn't necessitate anyone touching that 5000 line script...

I'm not volunteering, though, I can't get my head around either of them.

[2017-02-04 00:21] mwatts15 commented on #234
I gave the script a once over. It looks like it could be translated into Python pretty easily, though it would be in an imperative style. I'm less sure about N3, but it would be a pretty direct translation to SPARQL.

[2017-02-04 16:48] clbarnes commented on #281
Discussed in slack starting https://openworm.slack.com/archives/pyopenworm/p1486224576000071

[2017-02-04 16:53] mwatts15 opened #286 "Add a Transmitter type"
Add a DataObject subclass for representing transmitters.

Child of #281

[2017-02-04 16:57] mwatts15 opened #287 "Add a Monamine type"
Subclass of Transmitter
blocked by #286
child of #281

[2017-02-04 16:58] mwatts15 opened #288 "Add a Neuropeptide type"
Subclass of Transmitter

blocked by #286
child of #281

[2017-02-04 17:11] mwatts15 opened #289 "Turn Neuron.neurotransmitter into an ObjectProperty"
Currently, Neuron.neurotransmitter is a DatatypeProperty and holds string values. With new Transmitter types, these should hold Transmitter values.

blocked by #286

[2017-02-04 17:14] clbarnes commented on #289
We should also refactor any methods which take a neurotransmitter as an argument, and do `neurotransmitter_arg = str(neurotransmitter_arg) if neurotransmitter_arg instanceof Transmitter else neurotransmitter_arg.upper()`, so that people can still just type the name if they want.

[2017-02-04 17:23] mwatts15 opened #290 "Add method to generate a Connection graph of extrasynaptic connections"
Should attach to the `PyOpenWorm.network.Network` type, create the network by declaring Connection objects for each putative extrasynaptic connection.

*Reminder: saving the graph is done in the usual way with `net.save()` *

child of #281

[2017-02-04 17:40] mwatts15 opened #291 "Add a Receptor subclass of DataObject"
To replace the use of strings for receptors.

Should include code in the initializer to normalize from a few common notations for names of receptors

[2017-02-04 19:56] mwatts15 commented on #237
Estimating this at 3 (see [waffle.io](https://waffle.io/openworm/pyopenworm/cards/55ce61c7e305500300a5cfda)) to cover identification of data files that are unused, which may involve some communication with other users.

[2017-02-04 20:39] clbarnes opened #292 "Install problems (py2)"
Expected behaviour: In a clean python 2 environment with a clean pip cache etc., calling `pip install pyopenworm` should install pyopenworm without error.

Actual behaviour: All is fine until

[code]

Steps to reproduce behaviour:

[code]

The clean conda environment has a `pip freeze` looking like this:

[code]

An issue which may or may not be related is that FuXi requires `rdflib < 3a` and the

[2017-02-04 20:42] clbarnes commented on #292
By calling `pip install ez_setup`, I can avoid this error - so `ez_setup` should be added to the `setup.py` requirements.

However, I then get this one:

[code]

This issue is created by the fact that FuXi requires rdflib < 3a and the setup.py requires rdflib==4.1.2. This means that if rdflib is installed first, FuXi will overwrite it and things may work, but if rdflib is installed second, FuXi wo

[2017-02-04 21:03] mwatts15 opened #293 "Encode transmitter - receptor relationships in Transmitter.receptor statements"
To close this issue, only the relationships in the paper referenced in #281 need to be included.

child of #281
blocked by #286
blocks #290

[2017-02-04 21:09] clbarnes commented on #292
I'm not well-versed in PyPI so I don't know how similar `pip install` and `setup.py install` are, but adding ez_setup helps.

However, yarom requires a modern version of rdflib and FuXi requires an ancient version of rdflib - there doesn't seem to be a way around that conflict.

[code]

Is FuXi even maintained any more? The homepage link on PyPI is dead, the github repo claims to be obsolete and n

[2017-02-04 21:35] mwatts15 commented on #234
I added tasks assuming that the neurons_nt_nr.pl file is the only thing to translate. Based on the paper referenced in that file, which discusses the "Problog" language,  the data at the top of the file comes from some probabilistic analysis. Is it desired to perform that kind of analysis rather than the relatively simple calculation performed by the prolog file?

[2017-02-04 21:36] mwatts15 commented on #227
@travs, an example of a ChannelWorm graph would be helpful to flesh out this ticket. Would you be able to provide one?

[2017-02-05 01:25] mwatts15 commented on #292
There was work done to make FuXi compatible with RDFLib 4 rdflib/FuXi@4d245e9463ea59d76bba81ecabfe1e7b056ceaee4. Looking over a recent large changeset on FuXi, I see issues with code quality, like commented-out code, needless repetition in imports, broken links to supporting references, changes *away* from PEP8, removal of `__all__` lists (suggesting higher coupling), and less explicit messages in

[2017-02-05 02:02] mwatts15 commented on #8
Closing this as there's not much overlap of this proposal with the purpose of PyOpenWorm.

[2017-02-05 02:02] #8 closed

[2017-02-05 02:11] mwatts15 commented on #169
Closing this as invalid. I can't control what a user sees on their terminal and, in general, I don't want to. For users that don't care about the output, they'll ignore it whether there's a lot or a little. For those that do care, every shell I know has redirection to a file.
I would support having a log file, if possible, result from the install procedure for bug reporting purposes. I suspect tha

[2017-02-05 02:11] #169 closed

[2017-02-06 02:30] mwatts15 commented on #247
This must be tested out with multiple PyOpenWorm connections.

[2017-02-06 05:34] mwatts15 commented on #211
@slarson added tests based on the one you created for the other types of id.

[2017-02-06 05:35] #211 closed

[2017-02-06 06:00] mwatts15 commented on #175
The test for this was broken at the latest revision -- I corrected it and found it's passing. The properties had been returning generators from __call__ . Wrapping the results in a set() resolves the issue and has been resolved.

[2017-02-06 06:03] #175 closed

[2017-02-06 06:16] mwatts15 commented on #284
Still needs an update to the data sources page.

[2017-02-06 22:44] clbarnes commented on #284
I'm going to hold off on that until the data spreadsheet here https://docs.google.com/spreadsheets/d/1kCxOOKu1wAREa9VbBiWVVHh-GEC3kJk0A3YVEipPKcc/edit#gid=0 has been cloned and put in the openworm public folder so I can link to it there rather than my own copy.

Incidentally, I don't think I can label or self-assign issues.

[2017-02-07 03:59] #40 closed

[2017-02-07 04:01] mwatts15 commented on #40
OBE due to recent merge to dev of changes to properties - removing the property object

[2017-02-07 16:30] clbarnes commented on #286
Something I'm not sure how to deal with is naming inconsistency. Capitalisation and dashes/spaces can be dealt with fairly easily, but abbreviations (acetylcholine -> ACh, gamma-amino butyric acid -> GABA, Dopamine -> DOP, Serotonin -> 5-HT) are more tricky. Furthermore, many neuropeptides have alternative names due to being renamed once the sequence was discovered, or reclassified due to ligand b

[2017-02-07 16:47] clbarnes opened #297 "Synonym lookup table"
A lot of objects we are or will be dealing with have synonyms - for example, zero-padding motor neuron names (VB1/VB01), neuropeptides which have been reclassified (pdf-2/nlp-37), and abbreviations of neurotransmitters (serotonin/5-HT).

The zero padding is obviously trivial to generate with regex (although still a faff, as I found out when trying to use OpenWorm with my lab's data); WormBase has

[2017-02-08 04:41] mwatts15 commented on #286
Assuming the comment above is in reference to methods of the Transmitter class.

`__str__` and `__hash__` must not be overridden for DataObject subtypes -- both depend only on the identifier of the object. I'm not sure why you would use __new__ on a mutable type. Storing the alternatives in the database rather than hard-coding is a good idea.

[2017-02-08 15:10] clbarnes commented on #286
If we already have in the database a Neurotransmitter('acetylcholine'), with a bunch of metadata about it, and a user creates Neurotransmitter('ACh'), I was thinking of using `__new__` to intercept the instantiation, catch that we already have that molecule, and return that instance instead of a new one - that way all the metadata ends up on the same item.

I guess this is a method which could go

[2017-02-10 03:56] mwatts15 commented on #75
Reclassifying this as data-quality issue rather than a bug.

[2017-02-10 04:29] mwatts15 commented on #42
I just ran this on dev with Python 3.4:
[code]
With this output:
[code]
Again, not ideal, but also not "very slow", so I'm closing this one.

[2017-02-10 04:30] #42 closed

[2017-02-11 02:24] mwatts15 opened #298 "Replace global config instance with connection-scoped config"
Currently, when you call `PyOpenWorm.connect` it creates a global `Configure` instance which is used by all `Configureable`objects. This creates a problem when it is desirable to have multiple PyOpenWorm connections in the same program at the same time.

This task is to provide a means of giving different configuration for different PyOpenWorm connections.

[2017-02-15 05:08] mwatts15 commented on #90
I'm working at improving the connection query by parallelizing the query code. I started by naively creating a thread per scan on a relation  (rdf:type and pre_cell relations) then joining the results back in a single thread. I saw a 3.75 times improvement over the non-parallel code.

[2017-02-15 05:15] mwatts15 commented on #160
Closing this as a duplicate of #70 I think it's manifest that the evidence should be of a high quality.

[2017-02-15 05:26] mwatts15 commented on #184
This task needs to be broken down into a list of which tests need to be decomposed and how.

[2017-02-15 05:31] mwatts15 commented on #183
Estimated at a three since it will be necessary to evaluate which of the expected failures is no-longer expected, but is a true failure. Shouldn't be to complex with the waffle.io organized.

[2017-02-15 05:33] mwatts15 commented on #180
Estimate of three using the same logic as for #183

[2017-02-20 00:34] mwatts15 commented on #199
Now that `Connection` can describe relationships between non-neurons, it's better to deprecate passing bare strings and instead encourage to use `Cell`. I've introduced a deprecation warning with plans to remove in the next release.

[2017-02-20 00:36] #199 closed

[2017-02-20 16:43] slarson opened #301 "Error from 'aneuron' on PyPi version of pyopenworm"
I installed PyOpenWorm using " pip install pyopenworm "
and then ran the following commands

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'NoneType' object has no attribute 'aneuron'

Any response would be appreciated.

Thanks,
Shubham

[2017-02-20 18:12] lungd commented on #301
I could reproduce this issue with a new virtualenv.

Please try to install PyOpenWorm with 'python setup.py install' from inside the root directory after cloning the repo.
If you install PyOpenWorm with setup.py the post_install.py file gets executed and I think this step is missing from the pip installation.

[2017-02-21 10:53] shubhsingh594 commented on #301
@lungd  yeah it works if I install using 'python setup.py install ' .
Thanks :)

[2017-02-21 16:04] slarson commented on #301
This means there is a problem with the PyPi deployment.  We'll have to address this soon / on next release.

[2017-02-22 03:11] mwatts15 commented on #301
Thanks for reporting @shubhsingh594. I'm looking at the pip install procedure now.

[2017-03-01 13:47] pgleeson commented on #90
FYI @mwatts15 the [OpenWormReader](https://github.com/openworm/CElegansNeuroML/blob/master/CElegans/pythonScripts/c302/OpenWormReader.py) which [is intended for use in c302](https://github.com/openworm/CElegansNeuroML/issues/27) has improved from 3-5 minutes to load/display the cell connections to ~25sec with the development branch here.

Keep up the good work!

[2017-03-05 01:08] mwatts15 commented on #90
I'm going to close this one now since I'm getting ~ 267 ms (n = 320 x 10) on average for getting connections of a single neuron.

[2017-03-05 01:11] #90 closed

[2017-03-06 18:14] slarson commented on #90
@mwatts15 Freaking awesome!

[2017-03-07 09:52] gidili commented on #90
@mwatts15 well done closing this one! 👍

[2017-03-07 15:58] slarson commented on #90
@mwatts15 was there a new pull request for the new changes on this?  I only saw this one: https://github.com/openworm/PyOpenWorm/pull/299

[2017-03-14 01:44] mwatts15 opened #302 "Incorporate Bently et. al. references into existing entries for receptors, neuropeptides, and neurotransmitters"
See here: https://github.com/openworm/PyOpenWorm/pull/296#issuecomment-278223312

[2017-03-21 03:28] mwatts15 commented on #133
@travs :

My question is whether the cellular data useful for ion channel modelling (ex: surface area) is specific enough to include in this type of cataloging db. Surely cell surface area differs for ADAL (or any particular cell) between organisms.

The anatomical entities in PyOpenWorm should be thought of as classes. For instance, Cell:ADAL is the class of ADAL cells. To describe a specific cel

[2017-03-24 02:34] mwatts15 opened #303 "Implement cache for types of 'load'ed identifiers"
DataObject.load() requests the rdf:type triples for each identifier from GraphObjectQuerier(). We should be able to get better performance by skipping the disk accesses entailed by getting those triples.

[2017-03-29 03:37] mwatts15 opened #304 "Redesign the Cell morphology data storage model"
The Cell morphology is currently written such that it expects the morphology to be extracted from NeuroML XML files and rewritten as triples in a fairly naive fashion. It's needed to reevaluate the need for cell morphology in PyOpenWorm to determine what approach would be best for storing cell morphology.

Some possible approaches:
- Modify the earlier tactic in such a way that the data can be eff

[2017-04-16 02:14] mwatts15 opened #306 "Define eager fetch for DataObject.load()"
It's common to want certain values fetched ahead of time when loading objects from the database. There should be a way to specify which properties' values should also be loaded at the time an object is returned from `DataObject.load`

Comes from the example in #116. Since `__str__` is not typically an expensive operation that would entail going out to disk, the example suggests that the values of

[2017-04-16 20:14] mwatts15 commented on #21
Closing this as it is "overcome by events". The morphology query is dependent on an approach for storage of cell morphology that is unlikely to be pursued going forward. #304 attempts to address the problem of redesigning the method for accessing morphology.

[2017-04-16 20:14] #21 closed

[2017-04-23 15:20] #116 closed

[2017-04-29 17:30] #249 closed

[2017-06-11 17:16] slarson opened #307 "Extend Channel fields to include bioparameters"
We want bioparameters associated with ion channels as well as metadata indicating level of certainty to appear in PyOpenWorm so that they can be read in the dashboard.

Examples of bioparameters being built into a model can be found [here](https://github.com/openworm/CElegansNeuroML/blob/master/CElegans/pythonScripts/c302/parameters_C2.py) and [here](https://github.com/openworm/ChannelWorm/blob/ma

[2017-06-16 15:25] slarson commented on #307
@shubhsingh594 Any luck with this so far?  Talking to @VahidGh today, it may be better for us to be storing the NeuroML file that represents the ion channel model directly, rather than breaking it down into its separate parameters and storing each of them explicitly in PyOpenWorm.   Main reason is that different ion channel files are likely to have different numbers of relevant parameters and may

[2017-06-17 16:13] shubhsingh594 commented on #307
@slarson , so should we just have link to the corresponding NeuroML files?
or at some point we should parse the file, get the available relevant data and show that on the dashboard.

[2017-06-18 15:20] slarson commented on #307
Let's settle on importing the full text of the channel.nml file, along with the metadata parameters into PyOpenWorm.  Then we'll have a reader parse the channel.nml file on the output side.  This is going to be easier because the data model for a channel.nml file is complex and we don't want to reproduce it wholesale in PyOpenWorm.

[2017-06-26 17:07] slarson commented on #307
@tarelli Made a good suggestion -- can we point at a URL with the nml files instead of the full text?

[2017-07-03 13:13] #284 closed

[2017-07-08 14:49] slarson opened #310 "Add ability to query ion channels associated with cells"
It would be helpful if we can have associated with this a "Certainty" measure that goes from 0 to 1 that tells us how sure we are that this ion channel is actually associated with this cell.  Right now there is a lot of fuzziness about this in the data literature.

[2017-07-08 14:59] slarson opened #311 "Convert Cell to Ion Channel Spreadsheet into a more standard spreadsheet form"

[2017-08-02 17:27] slarson commented on #307
Update on this -- not extending the field to include the data, just the URL.

[2017-08-03 19:45] slarson commented on #311
Progress is [here](https://docs.google.com/spreadsheets/d/1Oct5cXqSUhLLcPe18Ue11VoLZbeyxO8OdSmPnKxy3ac/edit#gid=1299673096)

So far only neurons -- muscles next.

cc: @shubhsingh594

[2017-08-14 18:14] #310 closed

[2017-08-16 01:18] mwatts15 opened #319 "Clean up ion channel data and make 'ingest' more maintainable"
Ion channel data was recently added to PyOpenWorm, but there are a few things that should be done to make the translation more maintainable considering that the source data is still subject to change, so that future imports are likely.

- Replace magic numbers for columns with descriptive names (e.g., what's special about 101 in the neurons - channels spreadsheet)
- Detect and drop 'n/a', 'None',

[2017-08-16 02:09] mwatts15 opened #320 "Add references from doi/10.1371/journal.pcbi.1005283.s004 data"
The data added in #284 includes some references, but the document that's being cited can't be found unless you go to the source. The a [data](http://journals.plos.org/ploscompbiol/article/file?type=supplementary&id=info:doi/10.1371/journal.pcbi.1005283.s004) linked in #284 includes full citations. Luckily, most of these have PMIDs so we don't have to work to hard to pull out a key for the Evidence

[2017-08-16 02:18] slarson commented on #319
Great stuff!  One note, we can drop the 'classes of neurons' info out because the columns that specify ion channel to neuron relationships build on the 'classes of neurons' data and therefore having them both is redundant.

On the modifying the TSV-- for the simplicity of the data sources page, can we keep the TSVs to be raw dumps from google spreadsheets and handle skipping headers in the code?

[2017-08-16 16:45] slarson commented on #311
@HebaF Have a look at the sheet called "Ion Channel To Neuron".  We want to do the same thing in the "Ion Channel To Body Muscle" tab.  Currently the formulas in columns K-DA are all zeros, but some of them should return 1s.  We need to fix the formula that is used to make this happen.

Let's chat more about what that means on Slack -- I realize you won't have all the info quite yet.

[2017-08-18 03:28] slarson opened #322 "Update data sources page to include ion channels info"
The [data sources](https://pyopenworm.readthedocs.io/en/latest/data_sources.html) page should get updated along with the new ion channel content.  The source [is here](https://github.com/openworm/PyOpenWorm/blob/master/docs/data_sources.rst).  It should be easy to follow the pattern that is already laid out, including linking to the relevant spreadsheet, the TSV file in Github, and pointing to the

[2017-08-18 15:11] slarson opened #324 "Incorporate data from gene transcription atlas"
https://cole-trapnell-lab.github.io/single-cell-worm/

There are many ways this could help.  This should improve accuracy of several of the [data sources](https://pyopenworm.readthedocs.io/en/latest/data_sources.html), including neuropeptides, neuro receptors, and ion channels.

[2017-08-20 06:51] shubhsingh594 commented on #322
the names and data about the ion channels have been taken from the channelworm django app, what should as cite as the source for this, as there is no spreadsheet.

[2017-09-18 16:36] slarson commented on #319
@mwatts15 Did this ever get done in the course of GSoC / PRs by @shubhsingh594 ?

[2017-09-18 16:37] slarson opened #325 "Create a sample PyOpenWorm script that shows key evidence for cells and ion channels"
Cross posting this from https://github.com/openworm/model_completion_dashboard/issues/23

@mwatts15 could you help make an example for this?  Or if we can't, could you create issues as to what is still needed to do it?

This is now a check to make sure that we got everything we need merged post-GSoC.

[2017-09-19 02:15] mwatts15 commented on #319
@slarson No, things are as they were.

[2017-09-19 02:17] #325 closed

[2017-09-29 20:50] gsarma opened #326 "Organize tests into folders by type"
This is completely trivial and is pure housekeeping, but considering how many tests there are, we should probably separate them into different folders by functionality / test type.  I thought about this while browsing the repo for [Hail](https://github.com/hail-is/hail/tree/master/src/test/scala/is/hail), which is very well organized.

Just in the spirit of making the codebase more transparent for

[2017-09-29 20:55] gsarma opened #327 "Verify that test.py only imports tests externally, then revise documentation to reflect that"
The [Readme](https://github.com/openworm/PyOpenWorm/tree/master/tests) for the testing suite states that test.py contains many tests and also imports tests from other files.  It should only do the latter.  If not, these tests should be separated out, and then the documentation needs to be updated.

[2017-09-29 22:11] mwatts15 commented on #327
Since we switched to py.test, test.py is defunct -- just been hanging around.

[2017-09-29 23:56] gsarma commented on #327
Got it- thanks for the update.  I'll catch up on the changes over the next few months.

[2017-09-30 02:34] #327 closed

[2017-09-30 02:37] mwatts15 commented on #327
@gsarma Please have a look at `dev`for the latest. I try to keep that all working :)

[2017-10-02 23:59] gsarma opened #328 "Archive stale branches (10/2017)"
Whenever the time is right!

http://stackoverflow.com/questions/1307114/how-can-i-archive-git-branches

[2017-10-04 01:56] mwatts15 commented on #328
Old branches should be deleted if there's no useful work on them which hasn't been merged. I've removed the branches had no commits ahead of master and the remainder still have pending work.

[2017-10-04 01:56] #328 closed

[2017-10-04 02:49] #170 closed

[2017-10-04 02:51] #292 closed

[2017-10-04 18:03] gsarma commented on #328
Thanks for taking care of this!

[2017-10-04 18:07] gsarma commented on #170
@mwatts15 thanks! can you explain how you went about this?  @travs and I were looking into some static analysis tools some time ago but never came back to it.

[2017-10-04 18:23] gsarma opened #329 "Increase code coverage to >70%"
Currently, our code coverage is sitting at about 50% due to a lack of coverage on new code. This task is to add *meaningful* functional unit tests sufficient to increase code coverage to 70% or more.

Related to #331

[2017-10-04 18:26] gsarma opened #330 "Investigate metrics for code quality"
A good beginner issue- would be great for someone to write up a set of notes and give a short presentation if there are practical things we can put to use.

[2017-10-04 18:30] gsarma opened #331 "Fix code coverage reporting pipeline"
Coveralls is failing for recent builds.

Many people seem to have had this issue:
https://github.com/lemurheavy/coveralls-public/issues/281

[2017-10-04 19:41] gsarma opened #332 "Create natural language interface for PyOpenWorm"
This project is also relevant for ChannelWorm and overlaps with testing.  The goal is simply stated: make the scientific data in OpenWorm accessible via a web-based, natural language interface.  This would be useful for a number of reasons:

1) It increases the likelihood that we will catch mistakes in the database if scientists can easily ask questions of PyOpenWorm from a web interface of some k

[2017-10-06 23:05] rgerkin commented on #326
Each of the test classes (which is generally its own file), already contains within it several actual unit tests (the class methods).  So the test class is doing the organization here, organizing by test type, e.g. all DataIntegrity tests are in one class.  And then there is homology between class and file.  So really it's a question of whether it is better to have a third layer of organization.

[2017-10-18 01:38] mwatts15 commented on #326
Thanks, @gsarma @rgerkin. The tests don't need a deeper hierarchy at this point. If anything is to be added it would be preferable to add markers, which can cut across methods and test cases. It's possible to select tests that are 'marked' by using the -m option to py.test.

@rgerkin although the tests use unittest names, they are accessed through the py.test wrapper.

[2017-10-18 01:38] #326 closed

[2017-10-18 02:51] mwatts15 commented on #324
Downloaded the raw data.

The version of monocle referenced in the link is old -- I'm not sure how that'll affect usage with later versions, but I've downloaded the latest using instructions here: http://cole-trapnell-lab.github.io/monocle-release/docs/#installing-monocle

I made a cursory read over the docs. As a first cut, could query this dataset for channel or neuron data. Would likely have a

[2017-10-18 03:01] mwatts15 opened #333 "Implement Contexts"
# Summary
Retroactively adding a card for this.

Contexts are, essentially, containers for statements made in PyOpenWorm. Ultimately, they are identified with RDF contexts. The dataset semantics wherein a context is aligned with a named graph are also at play.

Importing a Python module will import a context. Modules can contain all the information for a single context, but contexts can also be de

[2017-10-18 11:30] mwatts15 commented on #324
Couldn't install the latest 'monocle' due to a failure to build VGAM.

[2017-10-24 03:02] mwatts15 commented on #50
This issue is superseded by #333 .

[2017-10-24 03:02] #50 closed

[2017-10-24 03:17] mwatts15 commented on #165
The code there doesn't actually work - should be Channel rather than IonChannel.

[2017-10-28 03:44] #319 closed

[2017-10-30 02:30] mwatts15 opened #334 "Add tools for smushing"
Unlike #297, which would deal primarily with data entry, the concern with smushing is taking URIRefs that are already in a graph and marking them as referring to the same entity (i.e., with an `owl:sameAs` statement) and, optionally, replacing triples having a secondary identifier with the preferred identifier.

- These tools must support an algorithm for smushing through analysis of existing `owl

[2017-10-30 03:38] mwatts15 commented on #162
Closing this issue. Currently, retrieving all connections in the database along with the associated data in the OpenWormReader takes 40s total, compared to 40s just to retrieve the Connection objects. Retrieving the Connection objects still takes about .001 s per object.

[2017-10-30 03:38] #162 closed

[2018-02-11 15:55] mwatts15 opened #336 "Get an Pubmed API key for E-Utilities"
On 8 May, E-Utilities plans to formally deprecate access without an API key by sending an error when usage exceeds stated limits.

This task is to acquire an API key for PubMed, add a means to configure an API key for end-users, and to use the configured API key in the Pubmed `Document` enhancement function.

Reference: https://www.ncbi.nlm.nih.gov/books/NBK25497/

[2018-02-11 16:15] mwatts15 commented on #239
Since this issue was originally raised we are using bibtexparser. BibTeX for the entries below needs to be added and incorporated into insert_worm.py. I've added a beginner label to this since there's not much left on it.
[code]

[2018-02-11 23:44] mwatts15 commented on #245
This is done. Most of the fields on `Evidence` have been moved to `Document`. BibTeX is turned into a `Document` like this:
[code]
or
[code]
and an `Evidence` is created from a `Document` like this:
[code]

[2018-02-11 23:44] #245 closed

[2018-03-16 06:09] thereisnotspoon commented on #336
please let me a try to contribute, how to get started?

[2018-03-17 00:23] mwatts15 commented on #336
Hi, @thereisnotspoon. If you'd like to resolve this issue, you'll first need to get your PyOpenWorm development environment set up if you haven't already. To do that, clone the PyOpenWorm Git repo, checkout the `333-implement-contexts` branch with git. I would recommend you use virtualenv with Python 3.x:
[code]
Have a look at PyOpenWorm/document.py. That file contains the class you'll need to cha

[2018-03-21 02:36] mwatts15 opened #337 "Introduce caching for Document elaboration"
A few of the external IDs (Pubmed, Wormbase, DOI) permit retrieval of external data. However, many of these services have limits (either declared or due to unstated resource limits on the server) on how frequently you can query them.

To reduce the #of times a given user will 'hit' a service, it's desirable to cache the data retrieved. The expiration date on such caches should typically be quite l